/* TEMPORARY "Uncorrected Proof" Banner */
@media screen {
  .quire-page::before,
  .quire-page::after {
    color: black;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire-page::before {
    content: "UNCORRECTED";
    background-color: yellow;
    bottom: -115px;
    right: -115px;
  }
  .quire-page::after {
    content: "PROOF";
    bottom: -130px;
    right: -130px;
  }
}
:root {
  --accent-color: #e0582a;  /* Matches $accent-color in variables.scss */
  --beige: #f7f1e3;
  --brown: #3f0817;
  --black: #000;
  --gray: #888;
  --gap: 1.75rem;

  --atlas-background: var(--beige);
}
@media screen and (min-width: 40rem) {
  :root {
    --gap: 3.5rem;
  }
}

/* Hide PDF footers */
.quire-page .pdf-footers__title {
  display: none;
}

/* Cover */
.quire-cover__overlay {
  background-size: contain;
  left: 1rem;
  right: 1rem;
  width: auto;
}
.quire-cover .quire-page__content .container.is-fluid .content p {
  line-height: 1.625;
}

/* Page Width */
@media screen {
  .quire-contents .quire-page__content .container,
  .quire-contents .quire-page__header .hero-body {
    max-width: initial;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--gap);
  }

  .quire-page__content .container,
  .quire-page__header .hero-body {
    max-width: 49rem;
    width: calc(100% - var(--gap) - var(--gap));
    margin: 0 auto;
    padding: 0;
  }
}

/* Links */
.quire-page__content .content a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):hover {
  border-bottom-width: 0px !important;
}
.q-figure__modal-link {
  display: initial;
  position: initial;
  color: currentColor;
}
.q-figure__modal-link:hover {
  color: var(--accent-color);
}

/*  Nav Bar */
.quire-navbar {
  font-size: .9375rem;
  z-index: 10;
}
q-modal {
  z-index: 11;
}
.quire-navbar *,
.quire-navbar a { 
  color: var(--black) !important;
}
.quire-navbar svg {
  fill: var(--black);
}
.quire-navbar-controls {
  padding: 0 var(--gap);
}
.quire-navbar-page-controls__item {
  padding: 0;
  font-weight: 300;
}
.quire-navbar-page-controls__item.quire-home-page {
  font-weight: 600;
}
.quire-navbar-page-controls__item.quire-home-page * {
  display: inline;
}
.quire-navbar-page-controls__item.quire-home-page a {
  font-weight: 300;
  padding: 0;
}
.quire-navbar-page-controls__item.quire-previous-page svg {
  margin-right: .25rem;
}
.quire-navbar-page-controls__item.quire-next-page svg {
  margin-left: -.25rem;
  margin-right: 0;
}
.quire-navbar-button,
.quire-search__close-button button.button {
  width: auto;
}
.quire-search__close-button {
  left: var(--gap);
}
.quire-search__close-button svg {
  height: 1.75rem;
  width: 1.75rem;
  margin-left: -5px;
}
.quire-navbar-button.search-button, 
.quire-navbar-button.menu-button {
  cursor: pointer;
}
.quire-navbar-button.search-button svg, 
.quire-navbar-button.menu-button svg {
  height: 1.5rem;
  width: 1.5rem;
  max-height: initial;
  max-width: initial;
}
.quire-search__inner .input-bar span svg {
  max-width: 2rem;
  max-height: 2rem;
}
.quire-search__close-button:hover,
.quire-navbar-controls__left a:hover, 
.quire-navbar-controls__left button:hover,
.quire-navbar-controls__right a:hover, 
.quire-navbar-controls__right button:hover,
.quire-navbar-controls .quire-navbar-page-controls__item a:hover, 
.quire-navbar-controls .quire-navbar-page-controls__item button:hover {
  color: var(--accent-color) !important;
  background-color: transparent;
}
.quire-search__close-button:hover svg,
.quire-navbar-controls__left a:hover svg, 
.quire-navbar-controls__left button:hover svg, 
.quire-navbar-controls__right a:hover svg, 
.quire-navbar-controls__right button:hover svg,
.quire-navbar-controls .quire-navbar-page-controls__item a:hover svg, 
.quire-navbar-controls .quire-navbar-page-controls__item button:hover svg {
  fill: var(--accent-color) !important;
}
@media screen and (max-width: 40rem) {
  .quire-navbar-page-controls__item.quire-home-page {
    display: none;
  }
}

/* Next/Prev Buttons */
.quire-contents-buttons li.quire-nav-button {
  border-width: 0px;
  width: 7rem;
}
.quire-contents-buttons li.quire-nav-button a {
  width: 100%;
}
.quire-contents-buttons li.quire-nav-button.next {
  background-color: transparent;
}
.quire-contents-buttons li.quire-nav-button.next a,
.quire-cover .quire-contents-buttons li.quire-nav-button.next a {
  color: var(--black);
}
.quire-contents-buttons li.quire-nav-button.next svg,
.quire-cover .quire-contents-buttons li.quire-nav-button.next svg {
  fill: var(--black);
}
.quire-contents-buttons li.quire-nav-button:hover,
.quire-contents-buttons li.quire-nav-button:hover a,
.quire-contents-buttons li.quire-nav-button.next:hover, 
.quire-contents-buttons li.quire-nav-button.next a:hover {
  background-color: transparent !important;
  color: var(--accent-color);
}
.quire-contents-buttons li.quire-nav-button a:hover svg,
.quire-contents-buttons li.quire-nav-button.next svg:hover,
.quire-cover .quire-contents-buttons li.quire-nav-button.next a:hover svg {
  fill: var(--accent-color);
}

/* Page Type */
.quire-page__content .container .content {
  padding: 0;
}
.quire-page__content .container .content p {
  line-height: 1.625;
}
.quire-essay .quire-page__content .container .content p {
  text-indent: var(--gap);
}
.quire-essay .quire-page__content .container .content p:first-child {
  text-indent: 0;
}
.content p:not(:last-child) {
  margin-bottom: 1.625rem;
}
.quire-page__content .container .content p strong {
  color: currentColor;
  font-weight: 600;
}
.quire-essay .quire-page__content .container .content p strong:first-child {
  font-size: 1.125rem;
  line-height: 0;
}
.quire-page .quire-page__content .container .content p strong.large-opener {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0;
}
.quire-page__content .content .footnote-ref a {
  line-height: 0;
  font-size: .75rem;
  font-weight: normal;
}
.quire-page__content .container .content blockquote p:first-child:before {
  content: none;
}

/* Page Contributor */
.quire-page__content .quire-contributor {
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: .75rem;
}

/* Page Abbreviation */
.quire-page__content .abbreviation {
  cursor: pointer;
}

/* Page Section Break (in Introduction) */
.quire-page__content .container .content hr {
  height: 1px;
  width: 10.5rem;
  background-color: var(--black);
  margin: 1.75rem auto;
}
.quire-page__content .container .content hr::after {
  content: none;
}

/* Figures */
.content .q-figure {
  border-width: 0;
  padding: 0;
}
.content .q-figure.is-indented {
  width: calc(100% - (var(--gap) * 2));
  margin-left: auto;
  margin-right: auto;
}
.content .q-figure.is-indented-2x {
  width: calc(100% - (var(--gap) * 4));
  margin-left: auto;
  margin-right: auto;
}
.content .q-figure.is-paired {
  width: calc((100% - var(--gap) - .35rem) / 2);
  display: inline-block;
  vertical-align: top;
}
.content .q-figure.is-paired + .q-figure.is-paired {
  margin-left: var(--gap);
}
.content .q-figure.is-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content .q-figure.is-offset {
  float: left;
  margin-right: var(--gap);
  margin-top: .75rem;
  width: 17.5rem;
  max-width: calc((100% - var(--gap) - .35rem) / 2);
}
@media screen and (min-width: 63rem) {
  .content .q-figure.is-offset {
    margin-left: -3.5rem;
    width: 21rem;
  }
}
@media screen and (min-width: 66.5rem) {
  .content .q-figure.is-offset {
    margin-left: -7rem;
    width: 24.5rem;
  }
}
.q-figure > a:hover img {
  box-shadow: none;
}
/* Classes for PDF layout refinement */
@media print {
  /* https://www.princexml.com/howcome/2021/guides/float/index.html */
  .content .q-figure.is-pdf-float-top,
  .content div.is-pdf-float-top {
    float: none;
    -prince-float: top;
    margin-top: 0 !important;
  }
  .content div.is-pdf-float-top .q-figure {
    margin-bottom: 2rem;
    margin-top: 0 !important;
  }
  .content .q-figure.is-pdf-float-bottom,
  .content div.is-pdf-float-bottom {
    -prince-float: bottom;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
  .content .q-figure.is-pdf-side-caption {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
  }
  .content .q-figure.is-pdf-side-caption img,
  .content .q-figure.is-pdf-side-caption .q-figure__caption {
    width: calc((100% - var(--gap) - 0.35rem) / 2);
    margin: 0;
  }
  .content .q-figure.is-pdf-side-caption.is-pdf-top-caption {
    align-items: flex-start;
  }
}
/* Add padding to clean up trailing lines around the float */
@media screen {
  .content .q-figure.has-1x-padding-bottom {
    padding-bottom: 3.5rem;
  }
  .content .q-figure.has-2x-padding-bottom {
    padding-bottom: 7rem;
  }
}
/* Figure groups with 2 side-by-side images */
figure.q-figure.q-figure--group.q-figure--group--2 figure {
  display: inline-block;
  margin: 0;
  width: calc((100% - var(--gap) - 6px ) / 2);
}
figure.q-figure.q-figure--group.q-figure--group--2 figure:first-child {
  margin-right: var(--gap);
}
figure.q-figure.q-figure--group figure figcaption {
  display: none;
}
/* Figure group with 3 verticall images */
figure.q-figure.q-figure--group.q-figure--group--3 figure {
  margin-bottom: 1rem;
  margin-top: 0;
}
figure.q-figure.q-figure--group.q-figure--group--3 figure:last-of-type {
  margin-bottom: 0;
}
/* Figure group with a row of three and a row of two (fig. 86) */
figure.q-figure.q-figure--group.q-figure--group--5 figure {
  display: inline-block;
  width: calc((100% - var(--gap)) / 3);
  margin-top: 0;
  margin-bottom: 0;
}
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(-n+3) {
  margin-bottom: calc(var(--gap) / 2);
}
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(1),
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(2),
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(4) {
  margin-right: calc((var(--gap) / 2) - 5px);
}
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(4) {
  margin-left: calc( ( ((100% - var(--gap)) / 3) + ((100% - var(--gap)) / 3) + (var(--gap) / 2) ) / 4 );
}

/* Figure Captions */
.content figure .q-figure__caption {
  max-width: 28rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .75rem;
  line-height: 1.3;
}
.q-figure__label .q-figure__label-icon {
  display: none;
}
.q-figure__label--below .q-figure__modal-link {
  color: currentColor;
  text-transform: uppercase;
}
figure.q-figure.q-figure--group > figcaption strong:first-child {
  text-transform: uppercase;
  margin-right: .5rem;
}

/* Figure Modal */
q-modal {
  background-color: var(--beige);
}
.q-lightbox-slides__element canvas-panel, 
.q-lightbox-slides__element img, 
.q-lightbox-slides__element image-service {
  height: calc(100vh - 3.5rem - 7rem);
  left: 0;
  top: 3.5rem;
  transform: none;
}
.q-figure-slides__slide-ui {
  max-width: 49rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-height: 7rem;
  align-items: flex-start;
  overflow: scroll;
  top: calc(100vh - 7rem);
}
.q-lightbox-slides__caption, .q-figure-slides__slide-ui .annotations-ui {
  background-color: transparent;
  color: black;
}
.q-lightbox-ui__navigation,
.q-lightbox-ui__download-and-counter {
  display: none;
}
.q-lightbox-ui__fullscreen-button {
  background: initial;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 96 960 960' width='32' fill='%23000'%3E%3Cpath d='M190.913 865.087V650.5h91v123.587H405.5v91H190.913Zm0-363.587V286.913H405.5v91H281.913V501.5h-91ZM554.5 865.087v-91h123.587V650.5h91v214.587H554.5ZM678.087 501.5V377.913H554.5v-91h214.587V501.5h-91Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent; 
  left: var(--gap);
  margin-left: 0;
 }
.q-modal__close-button {
  background: initial;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 96 960 960' width='32' fill='%23000'%3E%3Cpath d='M256 863.652 192.348 800l224-224-224-224L256 288.348l224 224 224-224L767.652 352l-224 224 224 224L704 863.652l-224-224-224 224Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  right: var(--gap);
}
 @media screen and (max-width: 40rem) {
  .q-lightbox-ui__fullscreen-button {
    left: 1.25rem;
  }
  .q-modal__close-button {
    right: 1.25rem;
  }
}

/* Footnotes */
.quire-page__content .content .footnotes {
  border-top: 1px solid var(--black);
  padding-top: 1.625rem;
  margin-top: 3.5rem;
}
.quire-page__content .container .content .footnotes * {
  line-height: 1.3;
}
.quire-page__content .content .footnotes .footnotes-list {
  margin-top: 0;
}
.quire-page__content .content .footnotes ol {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}
.quire-page__content .content .footnotes ol li {
  margin-bottom: 0;
}
.quire-page__content .content .footnotes ol li::marker {
  font-weight: 700;
  font-size: .875em;
}
.quire-page__content .container .content .footnotes p {
  font-size: .75rem;
  display: inline;
}
.quire-page__content .content .footnotes a.footnote-backref {
  line-height: 0 !important;
  font-size: .875em !important;
}

/* Page Header */
.quire-page__header {
  margin-bottom: 1.5rem;
}
.quire-page__header .hero-body {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.quire-page__header .hero-body ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .875rem;
  font-weight: 600;
  text-align: right;
}
.quire-page h1, .quire-page__header__title {
  text-align: left;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0;
}
.quire-page__header__contributor {
  display: none;
}
@media screen and (max-width: 40rem) {
  .quire-page__header .hero-body {
    flex-direction: column;
  }
  .quire-page__header .hero-body ul {
    margin-top: .875rem;
    text-align: left;
  }
}

/* Sidebar Menu */
.quire-menu__header {
  margin-bottom: 3.5rem;
}
.quire-menu__header__title {
  font-family: 'Lora', serif !important;
  line-height: 1.3;
}
.quire-menu__header__contributors {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: .5rem;
}
.quire-menu,
.quire-menu .page-item a, .quire-menu .section-item a {
  font-family: 'Source Sans Pro', sans-serif;
}
.quire-menu .menu-list a {
  padding: 1rem;
}
.quire-menu .menu-list li {
  /* border-bottom: .5px solid white; */
  border-bottom: 1px solid var(--black);
}
.quire-menu .menu-list li:first-child {
  /* border-top: .5px solid white; */
  border-top: 1px solid var(--black);
}
.quire-menu__footer .menu-list li:first-child {
  border-top-width: 0;
}
.quire-menu .menu-list li ol li:first-child {
  border-top-width: 0;
}
.quire-menu .menu-list li ol {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}
.quire-menu .menu-list li ol li {
  border-bottom-width: 0;
}
.quire-menu .menu-list li ol li a {
  padding: .25rem 1rem;
}
.quire-menu__formats h6 {
  font-size: 1rem;
  color: var(--black);
  border-bottom-width: 0;
  margin-top: 3.5rem;
  padding-bottom: 0;
}
.quire-menu__header a:hover, 
.quire-menu__list a:hover, 
.quire-menu__formats a:hover,
.quire-menu__footer .menu-list a:hover {
  color: var(--accent-color) !important;
  text-decoration: none;
}
.quire-menu .page-item a.active, 
.quire-menu .section-item a.active {
  padding-left: calc(1rem + 4px);
}
.quire-menu .page-item .page-item a.active, 
.quire-menu .section-item .page-item a.active {
  margin-left: calc(-2.5rem - 1px);
  padding-left: calc(2.75rem - 3px);
}

/* Abbreviations Table */
.quire-page__content table#abbreviations,
.quire-page__content table#symbols {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}
.quire-page__content table#abbreviations thead,
.quire-page__content table#symbols thead {
  display: none;
}
.quire-page__content table#abbreviations td:first-child,
.quire-page__content table#symbols td:first-child {
  width: 10.5rem;
}
.quire-page__content .content tbody tr:hover {
  background-color: transparent;
}

/* Thing Info Grid */
.quire-page__content .container .content {
  margin-top: 3rem;
}
.quire-page__content.thing-info .container .content {
  margin-top: 0;
}
.quire-page__content.thing-info .thing-info-grid {
  display: grid;
  grid-template-columns: 3fr 5fr 6fr;
  column-gap: 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  margin-bottom: 1.75rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .875rem;
  line-height: 1.4;
}
@media print {
  .quire-page__content.thing-info {
    margin-bottom: 1.5rem;
  }
  .quire-page__content.thing-info .thing-info-grid {
    display: flex;
    margin-bottom: 1.75rem;
  }
  .quire-page__content.thing-info .thing-info-grid > div {
    height: auto;
  }
  .quire-page__content.thing-info .thing-info-grid > div:nth-child(1) {
    min-width: 1.125in;
  }
  .quire-page__content.thing-info .thing-info-grid > div:nth-child(2) {
    min-width: 1.5in;
  }
  .quire-page__content .container .content .thing-info-grid ul {
    margin-left: 0;
  }
}
.quire-page__content.thing-info .thing-info-grid div {
  padding-top: .5rem;
  padding-bottom: .625rem;
  height: 100%;
}
.quire-page__content.thing-info .thing-info-grid div.thing-type {
  border-right: 1px solid var(--black);
  padding-right: 1rem;
}
.quire-page__content.thing-info .thing-info-grid div.thing-theme {
  margin-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid var(--black);
}
.quire-page__content.thing-info .thing-info-grid div.thing-material {
  margin-left: 1rem;
}
.quire-page__content.thing-info .thing-info-grid p {
  text-indent: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
}
.quire-page__content.thing-info .thing-info-grid ul {
  margin: 0;
}
.quire-page__content.thing-info .thing-info-grid ul li,
.quire-page__content.thing-info .thing-info-grid ul li p {
  display: inline;
  margin: 0;
  text-transform: none;
  font-weight: 400;
  letter-spacing: .3px;
}
.quire-page__content.thing-info .thing-info-grid ul li::before {
  content: "";
}
.quire-page__content.thing-info .thing-info-grid ul li::after {
  content: ", ";
}
.quire-page__content.thing-info .thing-info-grid ul li:last-child::after {
  content: "";
}

/* THING POP-UP MENU */
/* inline buttons */
.quire-citation__button.quire-thing__button {
  border-bottom-width: 0px;
  font-weight: 700;
}
.quire-citation__button.quire-thing__button:hover {
  border-bottom-width: 0px;
}
/* main box */
.quire-citation .quire-citation__content.quire-thing__content {
  padding: 0;
  border: 2px solid var(--gray);
  box-shadow: none;
  background-color: var(--beige);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.625;
  width: 17.5rem;
  bottom: auto;
  top: 1.75rem;
  margin-left: 10.5rem;
}
/* each individual section */
.quire-thing__content > span:not(.quire-thing__main) {
  border-top: 1px solid var(--gray);
  display: block;
  width: 100%;
  padding: 1em;
}
/* main section */
.quire-thing__content > span.quire-thing__main {
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--beige);
}
.quire-thing__main__title {
  font-size: 1.25rem;
  display: inline-block;
  font-weight: 600;
}
.quire-thing__main__icon {
  float: right;
}
.quire-thing__main__icon svg {
  fill: var(--beige);
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}
a:hover .quire-thing__main__icon svg {
  fill: var(--black);
}
.quire-page__content .content .quire-thing__main a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url) {
  display: block;
  line-height: inherit;
  padding: 1em;
  font-size: 1rem;
  color: inherit;
  width: 100%;
  border-bottom-width: 0px;
}
.quire-page__content .content .quire-thing__main a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):hover {
  color: var(--black) !important;
  border-bottom-width: 0px !important;
}
/* elements */
.quire-thing__heading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .875em;
  display: block;
  letter-spacing: .8px;
}
.quire-thing__heading-alt {
  font-weight: 600;
  font-style: italic;
  display: block;
}
.quire-thing__content span[role="listitem"] {
  display: block;
}
.quire-thing__link {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  border-bottom-width: 0px !important;
  font-size: 1.0625rem !important;
  line-height: inherit !important;
}
.quire-thing__link svg {
  height: 1rem;
  width: 1rem;
}
.quire-thing__link:hover svg {
  fill: var(--accent-color);
}
/* Fix for when pop-up is in footnotes area */
.quire-page__content .container .content .footnotes .quire-citation__content.quire-thing__content * {
  line-height: 1.625;
}

/* TABLE OF CONTENTS GRID */
@media screen {
  .quire-contents-list {
    padding: 0;
  }
  .table-of-contents-select-group {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 256px;
    left: calc(var(--gap) + 1rem);
    right: calc(var(--gap) + 1rem);
    z-index: 1;
  }
  .table-of-contents-select label {
    color: var(--accent-color);
    font-weight: 600;
  }
  .table-of-contents-select select {
    background-color: transparent;
    color: var(--accent-color);
    padding: .25rem;
    border-width: 0;
  }
  .table-of-contents-list {
    display: flex;
    /* font-size: 1rem; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    justify-content: space-between;
  }
  .table-of-contents-list li {
    display: grid;
    grid-template-columns: 1rem auto;
    grid-template-rows: 1rem auto;
    padding-left: 1.75rem;
  }
  .table-of-contents-list li::before {
    content: " ";
    width: 1px;
    height: 3rem;
    background-color: var(--black);
    display: block;
    margin-right: 1rem;
  }
  .table-of-contents-list li:first-child {
    padding-left: 0;
    grid-template-columns: auto;
  }
  .table-of-contents-list li:first-child::before {
    content: none;
  }
  .table-of-contents-list li:nth-child(5) ol {
    grid-column: 1 / -1;
    grid-row-start: 2;
    margin-top: .5rem !important;
    min-width: 10.5rem;
  } 
  .table-of-contents-list li:nth-child(5) ol li {
    display: list-item;
    margin-bottom: 0em;
    margin-left: .5em;
    font-weight: 400;
    font-style: italic;
    padding-left: 0;
    white-space: nowrap;
  }
  .table-of-contents-list li:nth-child(5) ol li:before {
    content: none;
    margin-bottom: 0;
  }
  .quire-contents-list .menu-list .section-item ol a,
  .quire-contents-list .menu-list .section-item ol a:hover  {
    border-bottom-width: 0px;
  }
  .table-of-contents-list li .table-of-contents-list {
    display: initial;
  }
  .table-of-contents-list li .table-of-contents-list li:after {
    display: initial;
    content: none;
  }
  .table-of-contents-list li:nth-child(4):after {
    content: "";
    margin-left: 1.5rem;
    margin-top: 48px;
    position: absolute;
    width: 28.8px;
    height: 202.5px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.8 240'%3E%3Cpath fill='%23fff' d='M14.4001,216.1079v-0.0029c0,7.9531-6.447,14.3979-14.4,14.395h28.3813H28.8 C20.847,230.5049,14.4001,224.061,14.4001,216.1079z'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M14.4,72.3259V215.605c0,7.9531-6.447,14.3979-14.4,14.395'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M14.4-0.0013v215.6092c0,7.9531,6.447,14.397,14.4,14.3921'/%3E%3C/svg%3E");
    background-size: cover;
    background-position-y: bottom;
  }
  .table-of-contents-list li:nth-child(4) ol {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    position: absolute;
    left: var(--gap);
    right: var(--gap);
    top: 240px;
    margin: 0 !important;
    padding-top: 4.375rem;
    border-top: 1px solid var(--accent-color);
  }
  .table-of-contents-list li:nth-child(4) ol:before,
  .table-of-contents-list li:nth-child(4) ol:after {
    content: " ";
    width: 1px;
    height: 1.75rem;
    background-color: var(--accent-color);
    position: absolute;
  }
  .table-of-contents-list li:nth-child(4) ol:before {
    left: 0;
  }
  .table-of-contents-list li:nth-child(4) ol:after {
    right: 0;
  }
  .table-of-contents-list li:nth-child(4) ol li {
    display: initial;
    margin-bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid var(--black);
    border-right: 1px solid var(--black);
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(5n+5) {
    border-right-width: 0;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(-n+5) {
    border-bottom-width: 0;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    display: flex;
    flex-direction: column;
    font-family: 'Arbutus Slab', serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.1;
    margin: 0 !important;
    height: calc((100vw - var(--gap) - var(--gap) - 4px ) / 5);
    width: 100%;
    background-color: white;
    padding: 7% 10% 10%;
    justify-content: space-between;
    position: relative;
    display: block;
  }
  .table-of-contents-list li:nth-child(4) ol li:before {
    content: none;
  }
  .table-of-contents-list li:nth-child(4) ol li span {
    position: relative;
    z-index: 1;
  }
  .table-of-contents-list li:nth-child(4) ol li img {
    margin: 0 auto;
    position: absolute;
    max-height: 83%;
    max-width: 80%;
    left: 0;
    right: 0;
    bottom: 10%;
  }
  .quire-contents .quire-page__content .container {
    height: calc(((100vw - var(--gap) - var(--gap) - 4px ) / 5) * 13 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .quire-contents-list .page-item, .quire-contents-list .section-item {
    line-height: 1.3;
  }
  .quire-contents-list .menu-list .section-item ol .page-item:last-child {
    margin-bottom: 0;
  }

  .quire-contents-list .menu-list a,
  .quire-contents-list .menu-list .section-item ol a, 
  .quire-contents-list .menu-list .section-item ol a:hover {
    font-size: 1.4vw;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    font-size: 1.6vw;
  }
}
@media screen and (min-width: 87rem) {
  .table-of-contents-list li:nth-child(4) ol {
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    height: calc((100vw - var(--gap) - var(--gap) - 1px ) / 7);
  }
  .quire-contents .quire-page__content .container {
    height: calc(((100vw - var(--gap) - var(--gap) - 1px ) / 7) * 10.25 );
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(5n+5) {
    border-right-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(-n+5) {
    border-bottom-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(7n+7) {
    border-right-width: 0;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(-n+6) {
    border-bottom-width: 0;
  }
  .quire-contents-list .menu-list a,
  .quire-contents-list .menu-list .section-item ol a, 
  .quire-contents-list .menu-list .section-item ol a:hover {
    font-size: 1.1vw;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    font-size: 1.4vw;
  }
}
@media screen and (min-width: 105rem) {
  .table-of-contents-list li {
  }
  .quire-contents .quire-page__content .container, 
  .quire-contents .quire-page__header .hero-body {
    max-width: 105rem;
    width: 100%;
    margin: 0 auto;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    height: calc(105rem / 7);
  }
  .quire-contents .quire-page__content .container {
    height: calc((105rem / 7) * 9.75 );
  }
  .quire-contents-list .menu-list a,
  .quire-contents-list .menu-list .section-item ol a, 
  .quire-contents-list .menu-list .section-item ol a:hover {
    font-size: 1.15rem;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 40rem) and (max-width: 66.5rem) {
  .table-of-contents-select-group {
    display: block;
    left: 18.5rem;
    top: 3.5rem;
  }
  .table-of-contents-select-group .table-of-contents-select {
    display: inline-block;
    margin-left: 1.75rem;
    margin-bottom: .5rem;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(-n+3) {
    margin-top: 5.25rem;
  }
  .table-of-contents-list {
    flex-direction: column;
    margin-top: 3.5rem;
  }
  .table-of-contents-list li::before {
    width: 5rem;
    height: 1px;
    margin-bottom: 1rem;
  }
  .quire-contents-list {
    padding-left: 0;
  }
  .table-of-contents-list li {
    padding-left: 0;
    display: block;
  }
  .table-of-contents-list li:nth-child(4):after {
    height: 28.8px;
    margin-left: 4rem;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 28.8'%3E%3Cpath fill='%23fff' d='M216.1092,14.4h-0.0029c7.9531,0,14.3979,6.447,14.395,14.4V0.4186V0 C230.5062,7.953,224.0623,14.4,216.1092,14.4z'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M72.3272,14.4h143.2791c7.9531,0,14.3979,6.447,14.395,14.4'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M0,14.4h215.6092c7.9531,0,14.397-6.447,14.3921-14.4'/%3E%3C/svg%3E");
    background-position-x: right;
    margin-top: -1.4rem;
    width: 171px;
  }
  .table-of-contents-list li:nth-child(4) ol {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    left: 17.5rem;
    top: 2.5rem;
    border-top-width: 0px;
    padding-top: 0;
    border-left: 1px solid var(--accent-color) !important;
    padding-left: 1.75rem;
  }
  .table-of-contents-list li:nth-child(4) ol:before,
  .table-of-contents-list li:nth-child(4) ol:after {
    content: " ";
    width: 1.75rem;
    height: 1px;
    background-color: var(--accent-color);
    position: absolute;
  }
  .table-of-contents-list li:nth-child(4) ol:after {
    left: 0;
    bottom: 0;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(5n+5),
  .table-of-contents-list li:nth-child(4) ol li:nth-child(7n+7) {
    border-right-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(-n+5),
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(-n+6) {
    border-bottom-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(3n+3) {
    border-right-width: 0;
  }
  .table-of-contents-list li:nth-child(4) ol li:last-child {
    border-left: 1px solid var(--black);
    border-bottom-width: 0;
    grid-column-start: 2;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    height: calc((100vw - var(--gap) - 17.5rem - 2px ) / 3);
  }
  .quire-contents .quire-page__content .container {
    height: calc(((100vw - var(--gap) - 17.5rem - 2px ) / 3) * 20 );
  }
  .table-of-contents-list li:nth-child(5) ol {
    margin-left: 0 !important;
    margin-top: 0 !important;
    display: block;
  } 
  .table-of-contents-list li:nth-child(5) ol li {
    margin-left: 0;
  }
  .table-of-contents-list li:nth-child(5) ol li:last-child {
    margin-bottom: 0 !important;
  }
  .quire-contents-list .menu-list a,
  .quire-contents-list .menu-list .section-item ol a, 
  .quire-contents-list .menu-list .section-item ol a:hover {
    font-size: 1rem;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    font-size: 1.9vw;
  }
}
@media screen and (min-width: 40rem) and (max-width: 56rem) {
  .table-of-contents-select-group .table-of-contents-select {
    display: block;
  }
  .table-of-contents-select label {
    display: inline-block;
    width: 4.375rem;
  }
  .table-of-contents-select select {
    width: 17.5rem;
    max-width: calc(100% - 5rem);
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(-n+3) {
    margin-top: 0;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(-n+2) {
    margin-top: 7.875rem;
  }
  .table-of-contents-list li:nth-child(4) ol {
    grid-template-columns: 50% 50%;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    height: calc((100vw - var(--gap) - 17.5rem - 1px ) / 2);
  }
  .quire-contents .quire-page__content .container {
    height: calc(((100vw - var(--gap) - 17.5rem - 1px ) / 2) * 29 );
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    font-size: 2.4vw;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(5n+5),
  .table-of-contents-list li:nth-child(4) ol li:nth-child(7n+7),
  .table-of-contents-list li:nth-child(4) ol li:nth-child(3n+3) {
    border-right-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(-n+5),
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(-n+6) {
    border-bottom-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(2n+2) {
    border-right-width: 0;
  }
  .table-of-contents-list li:nth-child(4) ol li:last-child {
    border-left: 0;
    border-bottom-width: 0;
    grid-column-start: 1;
  }
}
@media screen and (max-width: 40rem) {
  .table-of-contents-select-group {
    display: block;
    left: calc(var(--gap) + 1rem);
    right: calc(var(--gap) + 1rem);
    top: 380px;
  }
  .table-of-contents-select label {
    display: inline-block;
    width: 4.375rem;
  }
  .table-of-contents-select select {
    width: 17.5rem;
    max-width: calc(100% - 5rem);
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(-n+2) {
    margin-top: 1.75rem;
  }
  .table-of-contents-list {
    display: block;
    column-count: 2;
  }
  .table-of-contents-list .table-of-contents-list {
    column-count: 1;
  }
  .table-of-contents-list li::before {
    width: 5rem;
    height: 1px;
    margin-bottom: 1rem;
  }
  .quire-contents-list {
    padding-left: .25rem;
  }
  .table-of-contents-list li {
    padding-left: 0;
    display: block;
  }
  .table-of-contents-list li:nth-child(4) ol {
    grid-template-columns: 50% 50%;
    top: 364px;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    height: calc((100vw - var(--gap) - var(--gap) - 1px ) / 2);
  }
  .quire-contents .quire-page__content .container {
    height: calc(((100vw - var(--gap) - var(--gap) - 1px ) / 2) * 30.5 );
  }
  .table-of-contents-list li:nth-child(4):after {
    height: 158.5px;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .table-of-contents-list li:nth-child(4) ol li {
    border-width: 0;
    border-bottom-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(-n+3) {
    /* border-top-width: .5px; */
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(2n+1) {
    /* border-left-width: .5px; */
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(2n+1) {
    border-right-width: 1px;
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-last-child(2) {
    /* border-bottom-width: 1px; */
  }
  .table-of-contents-list li:nth-child(4) ol li:last-child {
    /* border-right-width: 1px; */
    /* border-bottom-width: 0; */
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(-n+2) {
    /* border-top-width: 0; */
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(2n+1) {
    /* border-left-width: 0; */
  }
  .table-of-contents-list li:nth-child(4) ol li:nth-child(2n+2) {
    /* border-right-width: 0; */
  }
  .table-of-contents-list li:nth-child(5) {
    break-inside: avoid;
  }
  .table-of-contents-list li:nth-child(5)::before {
    content: none;
  }
  .table-of-contents-list li:nth-child(5) ol {
    margin-left: 0 !important;
    margin-top: 0 !important;
    display: block;
  } 
  .table-of-contents-list li:nth-child(5) ol li {
    margin-left: 0;
  }
  .table-of-contents-list li:nth-child(5) ol li:last-child {
    margin-bottom: 0 !important;
  }
  .quire-contents-list .menu-list a,
  .quire-contents-list .menu-list .section-item ol a, 
  .quire-contents-list .menu-list .section-item ol a:hover {
    font-size: 1rem;
  }
  .quire-contents-list .menu-list .table-of-contents-list li:nth-child(4) ol li a {
    font-size: 4vw;
  }
}

@media screen and (max-width: 418px) {
  .table-of-contents-select-group {
    top: 400px;
  }
  .table-of-contents-list li:nth-child(4) ol {
    top: 385px;
  }
}




/* TAXONMIES */
.quire-page.taxonomy .quire-page__header {
  margin-bottom: 0;
  margin-top: 1.5rem;
}
.quire-page.taxonomy h1, 
.quire-page.taxonomy .quire-page__header__title {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.375rem;
  font-weight: 600;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}
.quire-page.taxonomy .quire-page__content .container .content {
  margin-top: 0;
}
.quire-page__content .container .content table.taxonomy-table {
  border-bottom: 1px solid var(--black);
}
.quire-page__content .container .content table.taxonomy-table th, 
.quire-page__content .container .content table.taxonomy-table td {
  border-bottom-width: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  padding: 0 .5rem .5rem 0;
}
.taxonomy-table .quire-citation__button.quire-thing__button,
#owners-list .quire-citation__button.quire-thing__button {
  font-weight: 400;
}
.taxonomy-table .quire-citation.quire-thing::after {
  content: ", ";
}
.taxonomy-table .quire-citation.quire-thing:last-child::after {
  content: "";
}
.quire-page__content .content .taxonomy-table tbody tr:hover {
  background-color: transparent;
}
.taxonomy-table tbody {
  columns: 2;
  column-gap: 0;
  column-rule: 1px solid var(--black);
  display: block;
  margin-left: -1rem;
  margin-right: -1rem;
}
.taxonomy-table tbody tr {
  display: block;
}
.taxonomy-table tr td:first-child {
  width: 10.5rem;
  padding-left: 1rem !important;
}
.taxonomy-table tr td:last-child {
  padding-right: .5rem;
}
/* Indexes by Type and Theme */
#index-by-theme tr td:first-child,
#index-by-thing tr td:first-child {
  font-style: italic;
}
/* Index by Material */
.quire-page.taxonomy[data-page-id="taxonomies-material"] h1, 
.quire-page.taxonomy[data-page-id="taxonomies-material"] .quire-page__header__title {
  border-bottom-width: 0px;
}
#index-by-material.taxonomy-table {
  columns: 2;
  column-gap: 0;
  column-rule: 1px solid var(--black);
  display: block;
}
#index-by-material.taxonomy-table tbody {
  break-inside: avoid;
  columns: 1;
  display: block;
  border-top: 1px solid var(--black);
  column-rule-width: 0px;
  margin: 0;
}
#index-by-material.taxonomy-table tbody:first-of-type {
  display: none;
}
#index-by-material.taxonomy-table tbody tr {
  padding-left: 1.5rem;
}
#index-by-material.taxonomy-table tbody tr:first-child {
  padding-top: 1rem;
  padding-left: .5rem;
}
#index-by-material.taxonomy-table tbody tr:last-child {
  padding-bottom: .75rem;
}
#index-by-material.taxonomy-table tr td:first-child {
  width: 10.5rem;
  font-style: italic;
}
#index-by-material.taxonomy-table tr td.material-category-header {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .8px;
  white-space: nowrap;
}
#index-by-material.taxonomy-table tr td.material-category-header + td {
  padding-left: 1rem;
}
/* Owners List in frontmatter */
#owners-list {
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
  columns: 2;
  column-gap: 0;
  column-rule: 1px solid var(--black);
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: -1.75rem;
}
#owners-list li {
  margin-bottom: .5rem;
  margin-left: 1.75rem;
}
#owners-list li::before {
  content: none;
}
#owners-list li .quire-citation + .quire-citation::before {
  content: ", ";
}
@media screen and (max-width: 45.5rem) {
  body {
    background-color: lavender !important;
  }
  .taxonomy-table tbody,
  #index-by-material.taxonomy-table,
  #owners-list {
    columns: 1;
    margin-left: 0;
    margin-right: 0;
  }
  .taxonomy-table tr td:first-child {
    padding-left: 0 !important;
  }
  #index-by-material.taxonomy-table tbody tr:first-child {
    padding-left: 0;
  }
}
/* Adds top and bottom spacing to the taxonomies/tables for two-colum and one-column versions,
   while still keeping the rule lines continuos */
@media screen {
  #owners-list li:first-child,
  #owners-list li:nth-child(27),
  #artists-chronology tbody tr:first-child,
  #artists-chronology tbody tr:nth-child(26),
  #index-by-thing tbody tr:first-child,
  #index-by-thing tbody tr:nth-child(9),
  #index-by-theme tbody tr:first-child,
  #index-by-theme tbody tr:nth-child(15) {
    margin-top: 1.75rem;
    display: inline-block;
  }
  #owners-list li:nth-child(26),
  #owners-list li:last-child,
  #artists-chronology tbody tr:last-child,
  #artists-chronology tbody tr:nth-child(25),
  #index-by-thing tbody tr:last-child,
  #index-by-thing tbody tr:nth-child(8),
  #index-by-theme tbody tr:last-child,
  #index-by-theme tbody tr:nth-child(14) {
    margin-bottom: 1.75rem;
    display: inline-block;
  }
}
@media screen and (max-width: 45.5rem) {
  #owners-list li:nth-child(27),
  #artists-chronology tbody tr:nth-child(26),
  #index-by-thing tbody tr:nth-child(9),
  #index-by-theme tbody tr:nth-child(15) {
    display: block;
    margin-top: 0;
  }
  #owners-list li:nth-child(26) {
    display: block;
    margin-bottom: .5rem;
  }
  #artists-chronology tbody tr:nth-child(25),
  #index-by-thing tbody tr:nth-child(8),
  #index-by-theme tbody tr:nth-child(14) {
    display: block;
    margin-bottom: 0;
  }
}

/* About & Copyright Pages */
.about-copyright-page .citation-info,
.about-copyright-page .revision-history,
.about-copyright-page .other-formats,
.about-copyright-page .copyright {
  margin-top: 3.5rem;
}
.about-copyright-page .quire-page__content .container .content ul {
  margin-left: 0;
}
.about-copyright-page .quire-page__content .container .content ul li::before {
  content: none;
}
.about-copyright-page .copyright p {
  margin-bottom: 1rem;
}
.about-copyright-page .quire-copyright {
  padding: 0;
  margin-bottom: 1rem;
}
.about-copyright-page .quire-copyright .copyright__publisher-logo {
  display: none;
}
.about-copyright-page .quire-copyright a.quire-copyright__icon__link {
  border-bottom-width: 0 !important;
}
.about-copyright-page .publisher p {
  margin-bottom: 0;
}
.about-copyright-page .project-team ul {
  margin-bottom: 1rem;
  margin-left: 0;
  break-inside: avoid;
  page-break-inside: avoid;
}
.about-copyright-page .project-team ul li {
  margin: 0 !important;
}
.about-copyright-page .quire-page__content .container .content .cip-data {
  margin-bottom: 1rem;
}
.about-copyright-page .quire-page__content .container .content .cip-data p,
.about-copyright-page .quire-page__content .container .content .cip-data ul,
.about-copyright-page .quire-page__content .container .content .cip-data li {
  margin: 0
}

/* Print */
@media screen {
  .pagedjs_pages,
  .pagedjs_bleed {
    background-color: black;
  }
  .pagedjs_sheet {
    background-color: white;
  }
}
@media print {

  /* Fix/set running feet */
  .quire-page .pdf-footers__title {
    flow: static(pagetitle);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8pt;
    display: inline-block;
    text-align: left;
  }
  @page:right {
    @bottom-left {
      content: flow(pagetitle);
    }
  }
  @page:left {
    @bottom-right {
      content: 'Artist’s Things';
      letter-spacing: .5pt;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  @page:left:first {
    @bottom-right {
      content: 'Artist’s Things';
    }
  }

  section.quire-page {
    page-break-before: always;
  }

  .half-title-page {
    font-family: 'Lora', serif;
    font-weight: 600;
    height: 100%;
    max-height: 100%;
  }
  .quire-page.title-page {
    page-break-before: right;
  }
  .title-page .title {
    font-family: "Lora", serif;
    font-size: 5rem;
    text-align: right;
  }
  .title-page .title .subtitle-divider {
    display: none;
  }
  .title-page .title .subtitle {
    color: var(--brown);
    display: block;
    font-family: "Source Sans Pro", serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    margin-right: 0;
    margin-top: 1rem;
    width: 4in;
  }
  .title-page .contributor {
    font-family: "Arbutus Slab", sans-serif;
    font-size: 1.25rem;
    letter-spacing: -.5px;
    margin-top: 3.5rem;
  }
  .title-page .publisher {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25rem;
  }
  
  .quire-page.backmatter {
    column-count: 2;
  }

  .quire-page.backmatter.about-copyright-page a {
    color: currentColor;
  }
  .quire-page.backmatter.about-copyright-page > div {
    break-inside: avoid;
  }

  .quire-page__content .container .content ul li {
    margin-bottom: .5rem;
  }
  .quire-page__content .container .content ul li:before {
    content: none;
  }

  .table-of-contents-select-group,
  .table-of-contents-list li:nth-child(4) ol {
    display: none;
  }
  .quire-contents-list.list {
    padding: 0;
  }
  .quire-contents-list .menu-list .section-item ol a {
    font-size: 1rem;
  }
  .quire-contents-list .section-item a::after {
    content: target-counter(attr(href), page);
    margin-left: 6pt;
    margin-right: -10%;
  }

  .quire-page#things,
  .quire-page#taxonomies {
    page: splash-image;
    background-color: var(--beige);
  }

  .quire-page__header {
    margin: 0 !important;
  }
  .quire-page__header .hero-body {
    margin-bottom: 1.75rem;
    padding: 0;
  }
  .quire-page h1, .quire-page__header__title {
    margin-top: 3.5rem;
  }
  
  .quire-page__content .container .content .footnotes {
    column-count: 2;
    column-gap: 1.75rem;
  }
  .quire-page__content .content .footnotes[data-split-from] {
    border-top-width: 0;
  }
  .quire-page__content .content .footnotes ol {
    margin-left: 0;
  }

}