/* TEMPORARY "Uncorrected Proof" Banner */
@media screen {
  .quire::before,
  .quire::after {
    color: black;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire::before {
    content: "PRESS";
    background-color: yellow;
    bottom: -115px;
    right: -115px;
  }
  .quire::after {
    content: "PREVIEW";
    bottom: -130px;
    right: -130px;
  }
}
:root {
  --accent-color: #e0582a;  /* Matches $accent-color in variables.scss */
  --beige: #f7f1e3;
  --brown: #3f0817;
  --black: #000;
  --gray: #888;
  --gap: 1.75rem;

  --atlas-background: var(--beige);
}
@media screen and (min-width: 40rem) {
  :root {
    --gap: 3.5rem;
  }
}

/* Hide PDF footers */
.quire-page .pdf-footers__title {
  display: none;
}

/* Cover */
.quire-cover .quire-page__content .container.is-fluid .content p {
  line-height: 1.625;
}
.quire-cover__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(95vh - 3.5rem - 0px);
  width: calc(100% - 2rem);
} 
.quire-cover__image__container,
.quire-cover__image__container img {
  position: relative;
}
.quire-cover__image__container img:first-child {
  position: absolute;
}
.quire-cover__image__desktop,
.quire-cover__image__mobile {
  display: none;
}
.quire-cover__image__tablet {
  display: block;
} 
@media (min-aspect-ratio: 1/1) {
  .quire-cover__image__tablet,
  .quire-cover__image__mobile {
    display: none;
  }
  .quire-cover__image__desktop {
    display: block;
  } 
}
@media (max-aspect-ratio: 2/3) {
  .quire-cover__image > * {
    margin: 2vh 0;
  } 
  .quire-cover__image__container img:first-child {
    position: relative;
  }
  .quire-cover__image__tablet,
  .quire-cover__image__desktop {
    display: none;
  }
  .quire-cover__image__mobile {
    display: block;
  } 
}

/* Page Width */
@media screen {
  .quire-contents .quire-page__content .container,
  .quire-contents .quire-page__header .hero-body {
    max-width: initial;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--gap);
  }

  .quire-page__content .container,
  .quire-page__header .hero-body {
    max-width: 49rem;
    width: calc(100% - var(--gap) - var(--gap));
    margin: 0 auto;
    padding: 0;
  }
}

/* Links */

.quire-page__content .content a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link),
.quire-page__content .content a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link):hover {
  border-bottom-width: 0px !important;
}
.q-figure__modal-link {
  display: initial;
  position: initial;
  color: currentColor;
}
.q-figure__modal-link:hover {
  color: var(--accent-color);
}

.text-align-right {
  text-align: right;
}

/*  Nav Bar */
.quire-navbar {
  font-size: .9375rem;
  z-index: 10;
}
q-modal {
  z-index: 11;
}
.quire-navbar *,
.quire-navbar a { 
  color: var(--black) !important;
}
.quire-navbar svg {
  fill: var(--black);
}
.quire-navbar-controls {
  padding: 0 var(--gap);
}
.quire-navbar-page-controls__item {
  padding: 0;
  font-weight: 300;
}
.quire-navbar-page-controls__item.quire-home-page {
  font-weight: 600;
}
.quire-navbar-page-controls__item.quire-home-page * {
  display: inline;
}
.quire-navbar-page-controls__item.quire-home-page a {
  font-weight: 300;
  padding: 0;
}
.quire-navbar-page-controls__item.quire-previous-page svg {
  margin-right: .25rem;
}
.quire-navbar-page-controls__item.quire-next-page svg {
  margin-left: -.25rem;
  margin-right: 0;
}
.quire-navbar-button,
.quire-search__close-button button.button {
  width: auto;
}
.quire-search__close-button {
  left: var(--gap);
}
.quire-search__close-button svg {
  height: 1.75rem;
  width: 1.75rem;
  margin-left: -5px;
}
.quire-navbar-button.search-button, 
.quire-navbar-button.menu-button {
  cursor: pointer;
}
.quire-navbar-button.search-button svg, 
.quire-navbar-button.menu-button svg {
  height: 1.5rem;
  width: 1.5rem;
  max-height: initial;
  max-width: initial;
}
.quire-search__inner .input-bar span svg {
  max-width: 2rem;
  max-height: 2rem;
}
.quire-search__close-button:hover,
.quire-navbar-controls__left a:hover, 
.quire-navbar-controls__left button:hover,
.quire-navbar-controls__right a:hover, 
.quire-navbar-controls__right button:hover,
.quire-navbar-controls .quire-navbar-page-controls__item a:hover,
.quire-navbar-controls .quire-navbar-page-controls__item a:hover *, 
.quire-navbar-controls .quire-navbar-page-controls__item button:hover {
  color: var(--accent-color) !important;
  background-color: transparent;
}
.quire-search__close-button:hover svg,
.quire-navbar-controls__left a:hover svg, 
.quire-navbar-controls__left button:hover svg, 
.quire-navbar-controls__right a:hover svg, 
.quire-navbar-controls__right button:hover svg,
.quire-navbar-controls .quire-navbar-page-controls__item a:hover svg, 
.quire-navbar-controls .quire-navbar-page-controls__item button:hover svg {
  fill: var(--accent-color) !important;
}
@media screen and (max-width: 40rem) {
  .quire-navbar-page-controls__item.quire-home-page {
    display: none;
  }
}
/* Fix display of nav labels */
.quire-navbar-page-controls__item.quire-next-page a,
.quire-navbar-page-controls__item.quire-previous-page a {
  white-space: nowrap;
  max-width: calc((100vw - 18rem) * .5);
}
@media screen and (max-width: 900px) {
  span.nav-label {
    display: none !important;
  }
}
/* Fix width of menu for mobile, to accommotate new icon placement */
.quire:not(.no-js) .quire__secondary.is-expanded {
  width: calc(352px - 3em);
}
.quire:not(.no-js) .quire__secondary.is-expanded + .quire__primary {
  transform: translate3d(calc(-352px + 3em), 0, 0);
}

/* Next/Prev Buttons */
.quire-contents-buttons li.quire-nav-button {
  border-width: 0px;
  width: 7rem;
}
.quire-contents-buttons li.quire-nav-button a {
  width: 100%;
}
.quire-contents-buttons li.quire-nav-button.next {
  background-color: transparent;
}
.quire-contents-buttons li.quire-nav-button.next a,
.quire-cover .quire-contents-buttons li.quire-nav-button.next a {
  color: var(--black);
}
.quire-contents-buttons li.quire-nav-button.next svg,
.quire-cover .quire-contents-buttons li.quire-nav-button.next svg {
  fill: var(--black);
}
.quire-contents-buttons li.quire-nav-button:hover,
.quire-contents-buttons li.quire-nav-button:hover a,
.quire-contents-buttons li.quire-nav-button.next:hover, 
.quire-contents-buttons li.quire-nav-button.next a:hover {
  background-color: transparent !important;
  color: var(--accent-color);
}
.quire-contents-buttons li.quire-nav-button a:hover svg,
.quire-contents-buttons li.quire-nav-button.next svg:hover,
.quire-cover .quire-contents-buttons li.quire-nav-button.next a:hover svg {
  fill: var(--accent-color);
}

/* Page Type */
.quire-page__content .container .content {
  padding: 0;
}
.quire-page__content .container .content p {
  line-height: 1.625;
}
.quire-essay .quire-page__content .container .content p {
  text-indent: var(--gap);
}
.quire-essay .quire-page__content .container .content p:first-child {
  text-indent: 0;
}
.content p:not(:last-child) {
  margin-bottom: 1.625rem;
}
.quire-page__content .container .content p strong {
  color: currentColor;
  font-weight: 600;
}
.quire-essay .quire-page__content .container .content p strong:first-child {
  font-size: 1.125rem;
  line-height: 0;
}
.quire-page .quire-page__content .container .content p strong.large-opener {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0;
}
.quire-page__content .content .footnote-ref a {
  line-height: 0;
  font-size: .75rem;
  font-weight: normal;
}
.quire-page__content .container .content blockquote p:first-child:before {
  content: none;
}

/* Page Contributor */
.quire-page__content .quire-contributor {
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: .75rem;
}

/* Page Abbreviation */
.quire-page__content .abbreviation {
  cursor: pointer;
}

/* Page Section Break (in Introduction) */
.quire-page__content .container .content hr {
  height: 1px;
  width: 10.5rem;
  background-color: var(--black);
  margin: 1.75rem auto;
}
.quire-page__content .container .content hr::after {
  content: none;
}
@media print {
  .quire-page__content .container .content hr {
    height: .5pt;
  }
}

/* Figures */
.content .q-figure {
  border-width: 0;
  padding: 0;
}
.content .q-figure.is-indented {
  width: calc(100% - (var(--gap) * 2));
  margin-left: auto;
  margin-right: auto;
}
.content .q-figure.is-indented-2x {
  width: calc(100% - (var(--gap) * 4));
  margin-left: auto;
  margin-right: auto;
}
.content .q-figure.is-paired {
  width: calc((100% - var(--gap) - .35rem) / 2);
  display: inline-block;
  vertical-align: top;
}
.content .q-figure.is-paired + .q-figure.is-paired {
  margin-left: var(--gap);
}
.content .q-figure.has-no-top-margin {
  margin-top: 0 !important;
}
.content .q-figure.is-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content .q-figure.is-offset,
.content .q-figure.is-pdf-offset {
  float: left;
  margin-right: var(--gap);
  margin-top: .75rem;
  width: 17.5rem;
  max-width: calc((100% - var(--gap) - .35rem) / 2);
}
@media screen and (min-width: 63rem) {
  .content .q-figure.is-offset {
    margin-left: -3.5rem;
    width: 21rem;
  }
}
@media screen and (min-width: 66.5rem) {
  .content .q-figure.is-offset {
    margin-left: -7rem;
    width: 24.5rem;
  }
}
.q-figure > a:hover img {
  box-shadow: none;
}
/* Classes for PDF layout refinement */
@media print {
  /* https://www.princexml.com/howcome/2021/guides/float/index.html */
  .content .q-figure.is-pdf-float-top,
  .content div.is-pdf-float-top {
    float: none;
    -prince-float: top;
    margin-top: 0 !important;
  }
  .content div.is-pdf-float-top .q-figure {
    margin-bottom: 2rem;
    margin-top: 0 !important;
  }
  .content .q-figure.is-pdf-float-bottom,
  .content div.is-pdf-float-bottom {
    -prince-float: bottom;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
  .content .q-figure.is-pdf-side-caption {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
  }
  .content .q-figure.is-pdf-side-caption img,
  .content .q-figure.is-pdf-side-caption .q-figure__caption {
    width: calc((100% - var(--gap) - 0.35rem) / 2);
    margin: 0;
  }
  .content .q-figure.is-pdf-side-caption.is-pdf-top-caption {
    align-items: flex-start;
  }
}
/* Add padding to clean up trailing lines around the float */
@media screen {
  .content .q-figure.has-1x-padding-bottom {
    padding-bottom: 3.5rem;
  }
  .content .q-figure.has-2x-padding-bottom {
    padding-bottom: 7rem;
  }
}
/* Figure groups with 2 side-by-side images */
figure.q-figure.q-figure--group.q-figure--group--2 figure {
  display: inline-block;
  margin: 0;
  width: calc((100% - var(--gap) - 6px ) / 2);
}
figure.q-figure.q-figure--group.q-figure--group--2 figure:first-child {
  margin-right: var(--gap);
}
figure.q-figure.q-figure--group figure figcaption {
  display: none;
}
/* Figure group with 3 verticall images */
figure.q-figure.q-figure--group.q-figure--group--3 figure {
  margin-bottom: 1rem;
  margin-top: 0;
}
figure.q-figure.q-figure--group.q-figure--group--3 figure:last-of-type {
  margin-bottom: 0;
}
/* Figure group with a row of three and a row of two (fig. 86) */
figure.q-figure.q-figure--group.q-figure--group--5 figure {
  display: inline-block;
  width: calc((100% - var(--gap)) / 3);
  margin-top: 0;
  margin-bottom: 0;
}
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(-n+3) {
  margin-bottom: calc(var(--gap) / 2);
}
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(1),
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(2),
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(4) {
  margin-right: calc((var(--gap) / 2) - 5px);
}
figure.q-figure.q-figure--group.q-figure--group--5 figure:nth-child(4) {
  margin-left: calc( ( ((100% - var(--gap)) / 3) + ((100% - var(--gap)) / 3) + (var(--gap) / 2) ) / 4 );
}

/* Figure Captions */
.content figure .q-figure__caption {
  max-width: 28rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .75rem;
  line-height: 1.3;
}
.q-figure__label .q-figure__label-icon {
  display: none;
}
.q-figure__label--below .q-figure__modal-link {
  color: currentColor;
  text-transform: uppercase;
}
figure.q-figure.q-figure--group > figcaption strong:first-child {
  text-transform: uppercase;
  margin-right: .5rem;
}

/* Figure Modal */
q-modal {
  background-color: var(--beige);
}
.q-lightbox-slides__element canvas-panel, 
.q-lightbox-slides__element img, 
.q-lightbox-slides__element image-service {
  height: calc(100vh - 3.5rem - 7rem);
  left: 0;
  top: 3.5rem;
  transform: none;
}
.q-figure-slides__slide-ui {
  max-width: 49rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-height: 7rem;
  align-items: flex-start;
  overflow: scroll;
  top: calc(100vh - 7rem);
}
.q-lightbox-slides__caption, .q-figure-slides__slide-ui .annotations-ui {
  background-color: transparent;
  color: black;
}
.q-lightbox-ui__navigation,
.q-lightbox-ui__download-and-counter {
  display: none;
}
.q-lightbox-ui__fullscreen-button {
  background: initial;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 96 960 960' width='32' fill='%23000'%3E%3Cpath d='M190.913 865.087V650.5h91v123.587H405.5v91H190.913Zm0-363.587V286.913H405.5v91H281.913V501.5h-91ZM554.5 865.087v-91h123.587V650.5h91v214.587H554.5ZM678.087 501.5V377.913H554.5v-91h214.587V501.5h-91Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent; 
  left: var(--gap);
  margin-left: 0;
 }
.q-modal__close-button {
  background: initial;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='32' viewBox='0 96 960 960' width='32' fill='%23000'%3E%3Cpath d='M256 863.652 192.348 800l224-224-224-224L256 288.348l224 224 224-224L767.652 352l-224 224 224 224L704 863.652l-224-224-224 224Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  right: var(--gap);
}
 @media screen and (max-width: 40rem) {
  .q-lightbox-ui__fullscreen-button {
    left: 1.25rem;
  }
  .q-modal__close-button {
    right: 1.25rem;
  }
}

/* Footnotes */
.quire-page__content .content .footnotes {
  border-top: 1px solid var(--black);
  padding-top: 1.625rem;
  margin-top: 3.5rem;
}
.quire-page__content .container .content .footnotes * {
  line-height: 1.3;
}
.quire-page__content .content .footnotes .footnotes-list {
  margin-top: 0;
}
.quire-page__content .content .footnotes ol {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}
.quire-page__content .content .footnotes ol li {
  margin-bottom: 0;
}
.quire-page__content .content .footnotes ol li::marker {
  font-weight: 700;
  font-size: .875em;
}
.quire-page__content .container .content .footnotes p {
  font-size: .75rem;
  display: inline;
}
.quire-page__content .content .footnotes a.footnote-backref {
  line-height: 0 !important;
  font-size: .875em !important;
}
@media print {
  .quire-page__content .content .footnotes {
    border-top-width: .5pt;
  }
}


/* Page Header */
.quire-page__header {
  margin-bottom: 1.5rem;
}
.quire-page__header .hero-body {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.quire-page__header .hero-body ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .875rem;
  font-weight: 600;
  text-align: right;
}
.quire-page h1, .quire-page__header__title {
  text-align: left;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0;
}
.quire-page__header__contributor {
  display: none;
}
@media screen and (max-width: 40rem) {
  .quire-page__header .hero-body {
    flex-direction: column;
  }
  .quire-page__header .hero-body ul {
    margin-top: .875rem;
    text-align: left;
  }
}

/* Section Landing Pages */
@media screen {
  .quire-page.quire-splash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .quire-page.quire-splash .quire-page__header__title {
    margin-top: 35vh;
    text-align: center;
    width: 100%;
  }
}

/* Sidebar Menu */
.quire-menu__header {
  margin-bottom: 3.5rem;
}
.quire-menu__header__title {
  font-family: 'Lora', serif !important;
  line-height: 1.3;
}
.quire-menu__header__contributors {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: .5rem;
}
.quire-menu,
.quire-menu .page-item a, .quire-menu .section-item a {
  font-family: 'Source Sans Pro', sans-serif;
}
.quire-menu .menu-list a {
  padding: 1rem;
}
.quire-menu .menu-list li {
  /* border-bottom: .5px solid white; */
  border-bottom: 1px solid var(--black);
}
.quire-menu .menu-list li:first-child {
  /* border-top: .5px solid white; */
  border-top: 1px solid var(--black);
}
.quire-menu__footer .menu-list li:first-child {
  border-top-width: 0;
}
.quire-menu .menu-list li ol li:first-child {
  border-top-width: 0;
}
.quire-menu .menu-list li ol {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}
.quire-menu .menu-list li ol li {
  border-bottom-width: 0;
}
.quire-menu .menu-list li ol li a {
  padding: .25rem 1rem;
}
.quire-menu__formats h6 {
  font-size: 1rem;
  color: var(--black);
  border-bottom-width: 0;
  margin-top: 3.5rem;
  padding-bottom: 0;
}
.quire-menu__header a:hover, 
.quire-menu__list a:hover, 
.quire-menu__formats a:hover,
.quire-menu__footer .menu-list a:hover {
  color: var(--accent-color) !important;
  text-decoration: none;
}
.quire-menu .page-item a.active, 
.quire-menu .section-item a.active {
  padding-left: calc(1rem + 4px);
}
.quire-menu .page-item .page-item a.active, 
.quire-menu .section-item .page-item a.active {
  margin-left: calc(-2.5rem - 1px);
  padding-left: calc(2.75rem - 3px);
}

/* Abbreviations Table */
.quire-page__content table#abbreviations,
.quire-page__content table#symbols {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}
.quire-page__content table#abbreviations thead,
.quire-page__content table#symbols thead {
  display: none;
}
.quire-page__content table#abbreviations td:first-child,
.quire-page__content table#symbols td:first-child {
  width: 10.5rem;
}
.quire-page__content .content tbody tr:hover {
  background-color: transparent;
}
.quire-page__content .container .content table td, 
.quire-page__content .container .content table th {
  border-bottom: 1px solid var(--black);
}


/* Thing Info Grid */
.quire-page__content .container .content {
  margin-top: 3rem;
}
.quire-page__content.thing-info .container .content {
  margin-top: 0;
}
.quire-page__content.thing-info .thing-info-grid {
  display: grid;
  grid-template-columns: 3fr 5fr 6fr;
  column-gap: 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  margin-bottom: 1.75rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .875rem;
  line-height: 1.4;
}
@media print {
  .quire-page__content.thing-info {
    margin-bottom: 1.5rem;
  }
  .quire-page__content.thing-info .thing-info-grid {
    display: flex;
    margin-bottom: 1.75rem;
    border-top-width: .5pt;
    border-bottom-width: .5pt;
  }
  .quire-page__content.thing-info .thing-info-grid > div {
    height: auto;
  }
  .quire-page__content.thing-info .thing-info-grid > div:nth-child(1) {
    min-width: 1.125in;
  }
  .quire-page__content.thing-info .thing-info-grid > div:nth-child(2) {
    min-width: 1.5in;
  }
  .quire-page__content .container .content .thing-info-grid ul {
    margin-left: 0;
  }
}
.quire-page__content.thing-info .thing-info-grid div {
  padding-top: .5rem;
  padding-bottom: .625rem;
  height: 100%;
}
.quire-page__content.thing-info .thing-info-grid div.thing-type {
  border-right: 1px solid var(--black);
  padding-right: 1rem;
}
.quire-page__content.thing-info .thing-info-grid div.thing-theme {
  margin-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid var(--black);
}
.quire-page__content.thing-info .thing-info-grid div.thing-material {
  margin-left: 1rem;
}
.quire-page__content.thing-info .thing-info-grid p {
  text-indent: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
}
.quire-page__content.thing-info .thing-info-grid ul {
  margin: 0;
}
.quire-page__content.thing-info .thing-info-grid ul li,
.quire-page__content.thing-info .thing-info-grid ul li p {
  display: inline;
  margin: 0;
  text-transform: none;
  font-weight: 400;
  letter-spacing: .3px;
}
.quire-page__content.thing-info .thing-info-grid ul li::before {
  content: "";
}
.quire-page__content.thing-info .thing-info-grid ul li::after {
  content: ", ";
}
.quire-page__content.thing-info .thing-info-grid ul li:last-child::after {
  content: "";
}
@media print {
  .quire-page__content.thing-info .thing-info-grid div.thing-type,
  .quire-page__content.thing-info .thing-info-grid div.thing-theme {
    border-right-width: .5pt;
  }
}

/* THING POP-UP MENU */
/* inline buttons */
.quire-citation__button.quire-thing__button {
  border-bottom-width: 0px;
  font-weight: 700;
}
.quire-citation__button.quire-thing__button:hover {
  border-bottom-width: 0px;
}
/* main box */
.quire-citation .quire-citation__content.quire-thing__content {
  padding: 0;
  border: 2px solid var(--gray);
  box-shadow: none;
  background-color: var(--beige);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.625;
  width: 17.5rem;
  bottom: auto;
  top: 1.75rem;
  margin-left: 10.5rem;
}
/* each individual section */
.quire-thing__content > span:not(.quire-thing__main) {
  border-top: 1px solid var(--gray);
  display: block;
  width: 100%;
  padding: 1em;
}
/* main section */
.quire-thing__content > span.quire-thing__main {
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--beige);
}
.quire-thing__main__title {
  font-size: 1.25rem;
  display: inline-block;
  font-weight: 600;
}
.quire-thing__main__icon {
  float: right;
}
.quire-thing__main__icon svg {
  fill: var(--beige);
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}
a:hover .quire-thing__main__icon svg {
  fill: var(--black);
}
.quire-page__content .content .quire-thing__main a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url) {
  display: block;
  line-height: inherit;
  padding: 1em;
  font-size: 1rem;
  color: inherit;
  width: 100%;
  border-bottom-width: 0px;
}
.quire-page__content .content .quire-thing__main a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):hover {
  color: var(--black) !important;
  border-bottom-width: 0px !important;
}
/* elements */
.quire-thing__heading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .875em;
  display: block;
  letter-spacing: .8px;
}
.quire-thing__heading-alt {
  font-weight: 600;
  font-style: italic;
  display: block;
}
.quire-thing__content span[role="listitem"] {
  display: block;
}
.quire-thing__link {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  border-bottom-width: 0px !important;
  font-size: 1.0625rem !important;
  line-height: inherit !important;
}
.quire-thing__link svg {
  height: 1rem;
  width: 1rem;
}
.quire-thing__link:hover svg {
  fill: var(--accent-color);
}
/* Fix for when pop-up is in footnotes area */
.quire-page__content .container .content .footnotes .quire-citation__content.quire-thing__content * {
  line-height: 1.625;
}

/* THINGS GRID */
/* ========================================================================= */
@media screen {
  /* CONTENTS LIST */
  .objects-page .quire-page__content {
    animation: none;
  }
  .objects-page .quire-page__content .container, 
  .objects-page .quire-page__header .hero-body {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 var(--gap);
  }
  .objects-page .quire-page__content .container .content {
    margin-top: 1.5rem;
  }
  .objects-page .table-of-contents-list {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4vw;
    font-weight: 600;
    justify-content: space-between;
    margin-left: 0 !important;
    height: 208px;
  }
  .objects-page .table-of-contents-list li {
    display: grid;
    grid-template-columns: 1rem auto;
    grid-template-rows: 1rem auto;
    padding-left: 1.75rem;
  }
  .objects-page .table-of-contents-list li::before {
    content: " ";
    width: 1px;
    height: 3rem;
    background-color: var(--black);
    display: block;
    margin-right: 1rem;
  }
  .objects-page .table-of-contents-list li:first-child {
    padding-left: 0;
    grid-template-columns: auto;
  }
  .objects-page .table-of-contents-list li:first-child::before {
    content: none;
  }
  .objects-page .table-of-contents-list li:nth-child(5) ol {
    grid-column: 1 / -1;
    grid-row-start: 2;
    margin-top: .5em;
    min-width: 10.5rem;
    list-style-type: none;
  } 
  .objects-page .table-of-contents-list li:nth-child(5) ol li {
    display: list-item;
    margin-bottom: 0em;
    margin-left: 1rem;
    font-weight: 400;
    font-style: italic;
    padding-left: 0;
    white-space: nowrap;
    line-height: 1.75;
  }
  .objects-page .table-of-contents-list li:nth-child(5) ol li:before {
    content: none;
    margin-bottom: 0;
  }
  .objects-page .quire-page__content .content .table-of-contents-list a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link) {
    border-bottom-width: 0;
  }
  .objects-page .quire-page__content .content .table-of-contents-list a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):not(.accordion-section__heading-link):hover {
    border-bottom-width: 0 !important;
    background-color: transparent;
    color: var(--accent-color);
  }
  .objects-page .table-of-contents-list a {
    padding: 0;
  }
  .objects-page .table-of-contents-list li .table-of-contents-list {
    display: initial;
  }
  .objects-page .table-of-contents-list li .table-of-contents-list li:after {
    display: initial;
    content: none;
  }
  .table-of-contents-list li:nth-child(4):after {
    content: "";
    margin-left: 1.5rem;
    margin-top: 48px;
    position: absolute;
    width: 28.8px;
    height: 202.5px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.8 240'%3E%3Cpath fill='%23fff' d='M14.4001,216.1079v-0.0029c0,7.9531-6.447,14.3979-14.4,14.395h28.3813H28.8 C20.847,230.5049,14.4001,224.061,14.4001,216.1079z'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M14.4,72.3259V215.605c0,7.9531-6.447,14.3979-14.4,14.395'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M14.4-0.0013v215.6092c0,7.9531,6.447,14.397,14.4,14.3921'/%3E%3C/svg%3E");
    background-size: cover;
    background-position-y: bottom;
    z-index: 1;
  }
  /* OBJECT FILTERS */
  .objects-page .object-filters {
    background-color: transparent;
    border-top: 1px solid var(--accent-color);
    margin: 0 var(--gap);
    padding: 0;
    position: relative;
    color: var(--accent-color);
  }
  .objects-page .object-filters::before,
  .objects-page .object-filters::after {
    content: " ";
    width: 1px;
    height: 1.75rem;
    background-color: var(--accent-color);
    position: absolute;
  }
  .objects-page .object-filters::after {
    right: 0;
  }
  .objects-page .object-filters__list {
    margin-right: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 0;
    grid-column-gap: 0;
    padding: 0;
    padding: 1rem 1rem .5rem;
  }
  .objects-page .object-filters__item {
    display: flex;
    width: auto;
    padding: 0;
    margin-bottom: .75rem;
  }
  .objects-page .object-filters__item:not(:last-child) {
    margin-right: 3.5rem;
  }
  .objects-page  .object-filters .collapsible__toggle {
    display: none;
  }
  .objects-page .object-filters__select {
    position: relative;
    width: 16rem;
  }
  .objects-page .object-filters__select select,
  .objects-page .object-filters__select select:focus, 
  .objects-page .object-filters__select select:focus-visible {
    color: var(--accent-color);
    outline-width: 0;
    border-bottom-width: 0;
  }
  .objects-page .object-filters__select::after {
    border-top-color: var(--accent-color);
  }
  .objects-page .object-filters__controls {
    display: flex;
  }
  .objects-page .object-filters__button {
    margin-top: 0;
    margin-bottom: 1.25rem;
    font-size: .75rem;
    padding: .25rem;
    width: 6rem;
    color: var(--accent-color);
    border-color: var(--accent-color);
    background-color: transparent;
    padding: .2em .2em .1em;
  }
  .objects-page  .object-filters__button.object-filters__button--active {
    background-color: var(--accent-color);
  }
  /*  OBJECT CARDS */
  .objects-page section.object-cards {
    margin: 0 var(--gap);
  }
  .objects-page ol.object-cards-list {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    outline: 1px solid white;
    outline-offset: -1px;
  }
  .objects-page ol.object-cards-list .object-card {
    height: calc((100vw - var(--gap) - var(--gap)) / 5 );
    border-radius: 0%;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
  }
  .objects-page ol.object-cards-list .object-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 7% 10% 10%;
  }
  .objects-page ol.object-cards-list .object-card__title {
    font-family: 'Arbutus Slab', serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.1;
    color: var(--black);
    font-size: 1.6vw;
  }
  .objects-page ol.object-cards-list  .object-card__title:not(:last-child) {
    margin-bottom: 0;
  }
  .objects-page ol.object-cards-list .object-card__title .arrow {
    display: none;
  }
  .objects-page .object-card .object-card__image {
    display: flex;
    flex-direction: column-reverse;
  }
  .objects-page .object-card:hover .object-card__title {
    color: var(--accent-color);
  }
  .objects-page .object-card:hover .object-card__image img {
    box-shadow: none;
  }
}
/* As screen goes larger, go to 7-card grid */
@media screen and (min-width: 1392px) {
  .objects-page ol.object-cards-list {
    grid-template-columns: repeat(7, 1fr);
  }
  .objects-page ol.object-cards-list .object-card {
    height: calc((100vw - var(--gap) - var(--gap)) / 7 );
  }
  .objects-page ol.object-cards-list .object-card__title {
    font-size: 1.35vw;
  }
  .objects-page .table-of-contents-list {
    font-size: 1.1vw;
  }
}
/* When screen exceeds this size, freeze the grid size and center it on the page */
@media screen and (min-width: 1680px) {
  .objects-page .quire-page__content .container, 
  .objects-page .quire-page__header .hero-body,
  .objects-page objects-catalog {
    display: block;
    max-width: 105rem;
    width: 100%;
    margin: 0 auto;
  }
  .objects-page .table-of-contents-list {
    font-size: 1.15rem;
  }
  .objects-page ol.object-cards-list .object-card {
    height: calc(105rem / 7 );
  }
  .objects-page ol.object-cards-list .object-card__title {
    font-size: 1.5rem;
  }
}
/* When screen is too narrow for horizontal TOC, switch to side-by-side view */
@media screen and (max-width: 1064px) {
  .objects-page {
    display: grid;
    grid-template-columns: 17.5rem 1fr;
    grid-template-rows: 160px 1fr 160px;
  }
  .objects-page .quire-page__header,
  .objects-page .quire-contents-buttons {
    grid-column: -1/1;
  }
  .objects-page .quire-page__content .container {
    padding-right: 1rem;
  }
  .objects-page .table-of-contents-list {
    flex-direction: column;
    height: auto;
    font-size: 1rem;
  }
  .objects-page .table-of-contents-list li::before {
    width: 5rem;
    height: 1px;
    margin-bottom: 1rem;
  }
  .objects-page .table-of-contents-list .page-item, 
  .objects-page .table-of-contents-list .section-item {
    margin-bottom: 1.375rem !important;
    display: block;
    padding-left: 0;
  }
  .objects-page .table-of-contents-list li:nth-child(5) ol {
    display: block;
  }
  .objects-page .table-of-contents-list li:nth-child(5) ol li {
    margin-left: 0;
    margin-bottom: 0 !important;
  }
  .objects-page section.object-cards {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    min-height: 140px;
    position: relative;
  }
  .objects-page .object-filters__item {
    margin-right: 0 !important;
  }
  .objects-page ol.object-cards-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .objects-page ol.object-cards-list .object-card {
    height: calc((100vw - 17.5rem - 1.5rem - var(--gap)) / 3 );
  }
  .objects-page ol.object-cards-list .object-card__title {
    font-size: 1.9vw;
  }
}
/* THis is still side-by-side, but won't carry over to smallest screens */
@media screen and (min-width: 640px) and (max-width: 1064px) {
  .table-of-contents-list li:nth-child(4):after {
    height: 28.8px;
    margin-left: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 28.8'%3E%3Cpath fill='%23fff' d='M216.1092,14.4h-0.0029c7.9531,0,14.3979,6.447,14.395,14.4V0.4186V0 C230.5062,7.953,224.0623,14.4,216.1092,14.4z'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M72.3272,14.4h143.2791c7.9531,0,14.3979,6.447,14.395,14.4'/%3E%3Cpath fill='none' stroke='%23e0582a' d='M0,14.4h215.6092c7.9531,0,14.397-6.447,14.3921-14.4'/%3E%3C/svg%3E");
    background-position-x: right;
    margin-top: -0.2rem;
    width: 164.5px;
  }
  .objects-page .object-filters::before,
  .objects-page section.object-cards::after {
    content: " ";
    height: 1px;
    width: 1.75rem;
    background-color: var(--accent-color);
    position: absolute;
  }
  .objects-page section.object-cards::after {
    bottom: 0;
    left: 0;
  }
  .objects-page .object-filters {
    border-top-width: 0;
  }
  .objects-page .object-filters::after {
    width: 0;
  }
  .objects-page .object-filters,
  .objects-page section.object-cards {
    margin: 0;
    padding-left: 1.5rem;
    padding-right: var(--gap);
    border-left: 1px solid var(--accent-color);
  }
  .objects-page .object-filters__list,
  .objects-page .object-filters__controls {
    justify-content: flex-start;
    padding-right: 0;
    width: 100%;
  }
  .objects-page .object-filters__controls {
    margin-left: .8125rem;
  }
  .objects-page .object-filters__item {
    margin-right: 0 !important;
    grid-gap: 0;
    width: 100%;
  }
  .objects-page .object-filters__item label {
    width: 4rem;
    text-align: left;
  }
}
/* As screen gets even narrower, go to 2-card grid */
@media screen and (min-width: 640px) and (max-width: 895px) {
  .objects-page .object-filters__select {
    min-width: 12.5rem;
    max-width: 16rem;
    width: 100%;
  }
  .objects-page ol.object-cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .objects-page ol.object-cards-list .object-card {
    height: calc((100vw - 17.5rem - 1.5rem - var(--gap)) / 2 );
  }
  .objects-page ol.object-cards-list .object-card__title {
    font-size: 2.4vw;
  }
}
/* At this size, revert to having the TOC above the grid, but put it in two columns */
@media screen and (max-width: 639px) {
  .objects-page {
    display: initial;
  }
  .objects-page .quire-page__content .container {
    padding: 0 var(--gap);
  }
  .objects-page .table-of-contents-list {
    flex-direction: column;
    font-size: 1rem;
    display: block;
    column-count: 2;
    padding-left: 0.25rem;
    padding-bottom: 1.5rem;
  }
  .table-of-contents-list li:nth-child(4):after {
    margin-top: 2rem;
    margin-left: -1.5rem;
    height: 174.5px;
  }
  .table-of-contents-list li:nth-child(5) {
    break-inside: avoid;
  }
  .table-of-contents-list li:nth-child(5)::before {
    width: 0;
    height: 0;
  }
  .table-of-contents-list li:nth-child(5) ol {
    column-count: 1;
    padding: 0;
  }
  .objects-page ol.object-cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .objects-page ol.object-cards-list .object-card {
    height: calc((100vw - var(--gap) - var(--gap)) / 2 );
  }
  .objects-page ol.object-cards-list .object-card__title {
    font-size: 4vw;
  }
}
/* Adjust width of filters for smallest screens */
@media screen and (max-width: 410px) {
  .objects-page .object-filters__select {
    min-width: 12.5rem;
    max-width: 16rem;
    width: 100%;
  }
}

/* TAXONMIES */
/* ========================================================================= */
.quire-page.taxonomy .quire-page__header {
  margin-bottom: 0;
  margin-top: 1.5rem;
}
.quire-page.taxonomy h1, 
.quire-page.taxonomy .quire-page__header__title {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.375rem;
  font-weight: 600;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  width: 100%;
}
@media print {
  .quire-page.taxonomy#taxonomies-material .quire-page__header__title {
    border-bottom-width: 0;
  }
}
.quire-page.taxonomy .quire-page__content .container .content {
  margin-top: 0;
}
.quire-page__content .container .content table.taxonomy-table th, 
.quire-page__content .container .content table.taxonomy-table td {
  border-bottom-width: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  padding: 0 .5rem .5rem 0;
}
.taxonomy-table .quire-citation__button.quire-thing__button,
#owners-list .quire-citation__button.quire-thing__button {
  font-weight: 400;
}
.taxonomy-table .quire-citation.quire-thing::after {
  content: ", ";
}
.taxonomy-table .quire-citation.quire-thing:last-child::after {
  content: "";
}
.quire-page__content .content .taxonomy-table tbody tr:hover {
  background-color: transparent;
}
.taxonomy-table tbody {
  columns: 2;
  column-gap: 0;
  column-rule: 1px solid var(--black);
  display: block;
  margin-left: -1rem;
  margin-right: -1rem;
}
.taxonomy-table tbody tr {
  display: block;
  break-inside: avoid;
  page-break-inside: avoid;
}
.taxonomy-table tr td:first-child {
  width: 10.5rem;
  padding-left: 1rem !important;
}
.taxonomy-table tr td:last-child {
  padding-right: .5rem;
}
/* Indexes by Type and Theme */
#index-by-theme tr td:first-child,
#index-by-thing tr td:first-child {
  font-style: italic;
}
/* Index by Material */
.quire-page.taxonomy[data-page-id="taxonomies-material"] h1, 
.quire-page.taxonomy[data-page-id="taxonomies-material"] .quire-page__header__title {
  border-bottom-width: 0px;
}
#index-by-material.taxonomy-table {
  border-bottom: 1px solid var(--black);
  columns: 2;
  column-gap: 0;
  column-rule: 1px solid var(--black);
  display: block;
}
#index-by-material.taxonomy-table tbody {
  break-inside: avoid;
  columns: 1;
  display: block;
  border-top: 1px solid var(--black);
  column-rule-width: 0px;
  margin: 0;
}
#index-by-material.taxonomy-table tbody:first-of-type {
  display: none;
}
#index-by-material.taxonomy-table tbody tr {
  padding-left: 1.5rem;
}
#index-by-material.taxonomy-table tbody tr:first-child {
  padding-top: 1rem;
  padding-left: .5rem;
}
#index-by-material.taxonomy-table tbody tr:last-child {
  padding-bottom: .75rem;
}
#index-by-material.taxonomy-table tr td:first-child {
  width: 10.5rem;
  font-style: italic;
}
#index-by-material.taxonomy-table tr td.material-category-header {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .8px;
  white-space: nowrap;
}
#index-by-material.taxonomy-table tr td.material-category-header + td {
  padding-left: 1rem;
}
/* Owners List in frontmatter */
#owners-list {
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
  columns: 2;
  column-gap: 0;
  column-rule: 1px solid var(--black);
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: -1.75rem;
}
#owners-list li {
  margin-bottom: .5rem;
  margin-left: 1.75rem;
  padding-right: .25rem;
}
#owners-list li::before {
  content: none;
}
#owners-list li .quire-citation + .quire-citation::before {
  content: ", ";
}
/* Add stub rule lines to keep center rule continuous */
.has-rule-lines {
  padding: 1.75rem 0;
  border-bottom: 1px solid var(--black);
}
.has-rule-lines table {
  margin: 0 !important;
}
.has-rule-lines::before,
.has-rule-lines::after {
  background-color: var(--black);
  content: " ";
  width: 1px;
  height: 1.75rem;
  position: absolute;
  left: calc(50% - .5px);
}
.has-rule-lines::before {
  top: 1px;
}
.has-rule-lines::after {
  bottom: 1px;
}
#owners-list.has-rule-lines::before,
#owners-list.has-rule-lines::after {
  left: calc(50% - .875rem - .5px);
}

@media screen and (max-width: 45.5rem) {
  .taxonomy-table tbody,
  #index-by-material.taxonomy-table,
  #owners-list {
    columns: 1;
    margin-left: 0;
    margin-right: 0;
  }
  .taxonomy-table tr td:first-child {
    padding-left: 0 !important;
  }
  #index-by-material.taxonomy-table tbody tr:first-child {
    padding-left: 0;
  }
  .has-rule-lines::before,
  .has-rule-lines::after {
    content: none;
  }
}

/* About & Copyright Pages */
.about-copyright-page .citation-info,
.about-copyright-page .revision-history,
.about-copyright-page .other-formats,
.about-copyright-page .copyright {
  margin-top: 3.5rem;
}
.copyright-page .quire-page__content .container .content div {
  margin-bottom: 1.625rem;
}
@media print {
  .copyright-page .quire-page__content .container .content div,
  .copyright-page .content p:not(:last-child) {
    margin-bottom: 1em;
  }
}
.about-copyright-page .quire-page__content .container .content ul {
  margin-left: 0;
}
.about-copyright-page .quire-page__content .container .content ul li::before {
  content: none;
}
.about-copyright-page .copyright p {
  margin-bottom: 1rem;
}
.about-copyright-page .quire-copyright {
  padding: 0;
  margin-bottom: 1rem;
}
.about-copyright-page .quire-copyright .copyright__publisher-logo {
  display: none;
}
.about-copyright-page .quire-copyright a.quire-copyright__icon__link {
  border-bottom-width: 0 !important;
}
.about-copyright-page .publisher p,
.about-copyright-page .cover-image-credits p {
  margin-bottom: 1em;
}
.about-copyright-page .publisher p:last-child,
.about-copyright-page .cover-image-credits p:last-child {
  margin-bottom: 0;
}
.about-copyright-page .project-team ul {
  margin-bottom: 1rem;
  margin-left: 0;
  break-inside: avoid;
  page-break-inside: avoid;
}
.about-copyright-page .project-team ul li {
  margin: 0 !important;
}
.about-copyright-page .quire-page__content .container .content .cip-data {
  margin-bottom: 1rem;
  break-inside: avoid;
  page-break-inside: avoid;
}
.about-copyright-page .quire-page__content .container .content .cip-data p,
.about-copyright-page .quire-page__content .container .content .cip-data ul,
.about-copyright-page .quire-page__content .container .content .cip-data li {
  margin: 0
}
.about-copyright-page .quire-page__content .container .content .cip-data ul li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

/* Print */
@media screen {
  .pagedjs_pages,
  .pagedjs_bleed {
    background-color: black;
  }
  .pagedjs_sheet {
    background-color: white;
  }
}
@media print {

  /* Fix/set running feet */
  .quire-page .pdf-footers__title {
    flow: static(pagetitle);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8pt;
    display: inline-block;
    text-align: left;
  }
  @page:right {
    @bottom-left {
      content: flow(pagetitle);
    }
  }
  @page:left {
    @bottom-right {
      content: 'Artists’ Things';
      letter-spacing: .5pt;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
  @page:left:first {
    @bottom-right {
      content: '';
    }
  }

  section.quire-page {
    page-break-before: always;
  }

  .half-title-page {
    font-family: 'Lora', serif;
    font-weight: 600;
    height: 100%;
    max-height: 100%;
  }
  .quire-page.title-page {
    page-break-before: right;
    height: 8.125in;
    justify-content: space-between;
  }
  .title-page .title {
    font-family: "Lora", serif;
    font-size: 6rem;
    text-align: right;
    margin-top: 2in;
  }
  .title-page .title .subtitle-divider {
    display: none;
  }
  .title-page .title .subtitle {
    color: var(--brown);
    display: block;
    font-family: "Source Sans Pro", serif;
    font-size: 2.75rem;
    font-style: italic;
    font-weight: 600;
    margin-right: 0;
    margin-top: 1rem;
  }
  .title-page .contributor {
    font-family: "Arbutus Slab", sans-serif;
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    margin-top: 3.5rem;
  }
  .title-page .publisher {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25rem;
  }
  
  .quire-page.backmatter {
    column-count: 2;
  }

  .quire-page.backmatter.about-copyright-page a {
    color: currentColor;
  }
  .quire-page.backmatter.about-copyright-page > div {
    break-inside: avoid;
  }

  .quire-page__content .container .content ul li {
    margin-bottom: .5rem;
  }
  .quire-page__content .container .content ul li:before {
    content: none;
  }

  .table-of-contents-select-group,
  .table-of-contents-list li:nth-child(4) ol {
    display: none;
  }
  .quire-contents-list.list {
    padding: 0;
  }
  .quire-contents-list .menu-list .section-item ol a {
    font-size: 1rem;
  }
  .table-of-contents > .table-of-contents-list > .page-item:nth-child(-n+2) a::after {
    content: leader(dotted) ' 'target-counter(attr(href, url), page, lower-roman);
  }

  /* Remove page numbering from "Taxonomies" landing page */
  .quire-contents-list .section-item:nth-child(5) > a::after {
    content: '';
  }
  .quire-page#taxonomies {
    page: no-footer;
  }

  .quire-page__header {
    margin: 0 !important;
  }
  .quire-page__header .hero-body {
    margin-bottom: 1.75rem;
    padding: 0;
  }
  .quire-page.taxonomy .quire-page__header .hero-body {
    margin-bottom: 0;
  }
  .quire-page h1, .quire-page__header__title {
    margin-top: 3.5rem;
  }
  
  .quire-page__content .container .content .footnotes {
    column-count: 2;
    column-gap: 1.75rem;
  }
  .quire-page__content .content .footnotes[data-split-from] {
    border-top-width: 0;
  }
  .quire-page__content .content .footnotes ol {
    margin-left: 0;
  }
  /* PDF Things Grid */
  .quire-page#things h1, .quire-page__header__title {
    margin-bottom: 54px; /* aligns first page of grid with the subsequent pages */
  }
  .pdf-thing-grid {
    font-size: 0; /* eliminates pesky inline-block whitespace */
  }
  .pdf-thing-grid__item {
    width: 1.66in;
    height: 1.66in;
    max-width: 1.66in;
    max-height: 1.66in;
    display: inline-block;
    border-bottom: .5pt solid var(--black);
    border-right: .5pt solid var(--black);
    padding: 1rem;
    position: relative;
    vertical-align: top;
  }
  .pdf-thing-grid__item:nth-child(3n+3) {
    border-right-width: 0;
  }
  .pdf-thing-grid__item:nth-child(n+10):nth-child(-n+12),
  .pdf-thing-grid__item:nth-child(n+25):nth-child(-n+27),
  .pdf-thing-grid__item:nth-child(n+40):nth-child(-n+42),
  .pdf-thing-grid__item:nth-child(55) {
    border-bottom-width: 0;
  }
  .pdf-thing-grid__item__title {
    font-family: Arbutus Slab, serif;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.1;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
  }
  .pdf-thing-grid__item__thumbnail {
    max-height: calc(1.66in - 3.5rem);
    width: max-content;
    max-width: calc(1.66in - 2rem);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
  }

  

}


