:root {
  --accent-color: #e0582a;  /* Matches $accent-color in variables.scss */
  --beige: #f7f1e3;
  --black: #000;
  --gray: #888;
  --gap: 1.75rem;
}
@media screen and (min-width: 40rem) {
  :root {
    --gap: 3.5rem;
  }
}

/* Page Width */
@media screen {
  .quire-page__content .container,
  .quire-page__header .hero-body {
    max-width: 49rem;
    width: calc(100% - var(--gap) - var(--gap));
    margin: 0 auto;
    padding: 0;
  }
}

/* Links */
.quire-page__content .content a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):hover {
  border-bottom-width: 0px !important;
}
.q-figure__modal-link {
  display: initial;
  position: initial;
  color: currentColor;
}
.q-figure__modal-link:hover {
  color: var(--accent-color);
}

/*  Nav Bar */
.quire-navbar-controls {
  padding: 0 var(--gap);
}
.quire-navbar-page-controls__item {
  padding: 0;
}
.quire-navbar-page-controls__item.quire-home-page {
  font-weight: 600;
}
.quire-navbar-page-controls__item.quire-previous-page svg {
  margin-right: .25rem;
}
.quire-navbar-page-controls__item.quire-next-page svg {
  margin-left: -.25rem;
  margin-right: 0;
}
.quire-navbar-button {
  width: auto;
}
.quire-search__close-button {
  left: var(--gap);
}
.quire-navbar-button.search-button, 
.quire-navbar-button.menu-button {
  cursor: pointer;
}
.quire-navbar-button.search-button svg, 
.quire-navbar-button.menu-button svg {
  height: 1.5rem;
  width: 1.5rem;
  max-height: initial;
  max-width: initial;
}
.quire-search__close-button:hover,
.quire-navbar-controls__left a:hover, 
.quire-navbar-controls__left button:hover,
.quire-navbar-controls__right a:hover, 
.quire-navbar-controls__right button:hover,
.quire-navbar-controls .quire-navbar-page-controls__item a:hover, 
.quire-navbar-controls .quire-navbar-page-controls__item button:hover {
  color: var(--accent-color) !important;
  background-color: transparent;
}
.quire-search__close-button:hover svg,
.quire-navbar-controls__left a:hover svg, 
.quire-navbar-controls__left button:hover svg, 
.quire-navbar-controls__right a:hover svg, 
.quire-navbar-controls__right button:hover svg,
.quire-navbar-controls .quire-navbar-page-controls__item a:hover svg, 
.quire-navbar-controls .quire-navbar-page-controls__item button:hover svg {
  fill: var(--accent-color) !important;
}

/* Next/Prev Buttons */
.quire-contents-buttons li.quire-nav-button {
  border-width: 0px;
  width: 7rem;
}
.quire-contents-buttons li.quire-nav-button a {
  width: 100%;
}
.quire-contents-buttons li.quire-nav-button.next {
  background-color: transparent;
}
.quire-contents-buttons li.quire-nav-button.next a {
  color: var(--black);
}
.quire-contents-buttons li.quire-nav-button.next svg {
  fill: var(--black);
}
.quire-contents-buttons li.quire-nav-button:hover,
.quire-contents-buttons li.quire-nav-button:hover a,
.quire-contents-buttons li.quire-nav-button.next:hover, 
.quire-contents-buttons li.quire-nav-button.next a:hover {
  background-color: transparent !important;
  color: var(--accent-color);
}
.quire-contents-buttons li.quire-nav-button a:hover svg,
.quire-contents-buttons li.quire-nav-button.next svg:hover {
  fill: var(--accent-color);
}

/* Page Type */
.quire-page__content .container .content {
  padding: 0;
}
.quire-page__content .container .content p {
  line-height: 1.625;
  text-indent: var(--gap);
}
.quire-page__content .container .content p:first-child {
  text-indent: 0;
}
.content p:not(:last-child) {
  margin-bottom: 1.625rem;
}
.quire-page__content .container .content p strong {
  color: currentColor;
  font-weight: 600;
}
.quire-page__content .container .content p strong:first-child {
  font-size: 1.125rem;
}
.quire-page__content .content .footnote-ref a {
  line-height: 0;
  font-size: .75rem;
  font-weight: normal;
}

/* Figures */
.content .q-figure {
  border-width: 0;
  padding: 0;
}
.content .q-figure.is-indented {
  width: calc(100% - var(--gap) - var(--gap));
  margin-left: auto;
  margin-right: auto;
}
.content .q-figure.is-paired {
  width: calc((100% - var(--gap) - .35rem) / 2);
  display: inline-block;
  vertical-align: top;
}
.content .q-figure.is-paired + .q-figure.is-paired {
  margin-left: var(--gap);
}
.content .q-figure.is-offset {
  float: left;
  margin-right: var(--gap);
  margin-top: 0;
  max-width: 17.5rem;
}
@media screen and (min-width: 63rem) {
  .content .q-figure.is-offset {
    margin-left: -3.5rem;
    max-width: 21rem;
  }
}
@media screen and (min-width: 66.5rem) {
  .content .q-figure.is-offset {
    margin-left: -7rem;
    max-width: 24.5rem;
  }
}

/* Figure Captions */
.content figure .q-figure__caption {
  max-width: 28rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .75rem;
  line-height: 1.3;
}
.q-figure__label .q-figure__label-icon {
  display: none;
}
.q-figure__label--below .q-figure__modal-link {
  color: currentColor;
  text-transform: uppercase;
}

/* Figure Modal */
q-modal {
  background-color: var(--beige);
}
.q-lightbox-slides__element canvas-panel, 
.q-lightbox-slides__element img, 
.q-lightbox-slides__element image-service {
  height: 80%;
  top: 45%
}
.q-figure-slides__slide-ui {
  max-width: 49rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-height: 15%;
  align-items: flex-start;
  overflow: scroll;
  top: 85%;
}
.q-lightbox-slides__caption, .q-figure-slides__slide-ui .annotations-ui {
  background-color: transparent;
  color: black;
}

/* Footnotes */
.quire-page__content .content .footnotes {
  border-top: 1px solid var(--black);
  padding-top: 1.625rem;
  margin-top: 3.5rem;
}
.quire-page__content .container .content .footnotes * {
  line-height: 1.3;
}
.quire-page__content .content .footnotes .footnotes-list {
  margin-top: 0;
}
.quire-page__content .content .footnotes ol {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}
.quire-page__content .content .footnotes ol li {
  margin-bottom: 0;
}
.quire-page__content .content .footnotes ol li::marker {
  font-weight: 700;
  font-size: .875em;
}
.quire-page__content .container .content .footnotes p {
  font-size: .75rem;
  display: inline;
}
.quire-page__content .content a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url) {
  line-height: 0;
  font-size: .875em;
}

/* Fixes */
.atlas {
  background-color: transparent !important;
}

/* Page Header */
.quire-page__header {
  margin-bottom: 1.5rem;
}
.quire-page__header .hero-body {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.quire-page__header .hero-body ul {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .875rem;
  text-align: right;
}
.quire-page h1, .quire-page__header__title {
  text-align: left;
  font-size: 3.5rem;
  margin: 1.5rem 0 0;
}
.quire-page__header__contributor {
  display: none;
}

/* Thing Info Grid */
.quire-page__content .container .content {
  margin-top: 3rem;
}
.quire-page__content.thing-info .container .content {
  margin-top: 0;
}
.quire-page__content.thing-info .thing-info-grid {
  display: grid;
  grid-template-columns: 3fr 5fr 6fr;
  column-gap: 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  margin-bottom: 1.75rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .875rem;
  line-height: 1.4;
}
.quire-page__content.thing-info .thing-info-grid div {
  padding-top: .5rem;
  padding-bottom: .625rem;
  height: 100%;
}
.quire-page__content.thing-info .thing-info-grid div.thing-type {
  border-right: 1px solid var(--black);
  padding-right: 1rem;
}
.quire-page__content.thing-info .thing-info-grid div.thing-theme {
  margin-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid var(--black);
}
.quire-page__content.thing-info .thing-info-grid div.thing-material {
  margin-left: 1rem;
}
.quire-page__content.thing-info .thing-info-grid p {
  text-indent: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.quire-page__content.thing-info .thing-info-grid ul {
  margin: 0;
}
.quire-page__content.thing-info .thing-info-grid ul li,
.quire-page__content.thing-info .thing-info-grid ul li p {
  display: inline;
  margin: 0;
  text-transform: none;
  font-weight: 400;
}
.quire-page__content.thing-info .thing-info-grid ul li::before {
  content: "";
}
.quire-page__content.thing-info .thing-info-grid ul li::after {
  content: ", ";
}
.quire-page__content.thing-info .thing-info-grid ul li:last-child::after {
  content: "";
}

/* THING POP-UP MENU */
/* inline buttons */
.quire-citation__button.quire-thing__button {
  border-bottom-width: 0px;
  font-weight: 700;
}
.quire-citation__button.quire-thing__button:hover {
  border-bottom-width: 0px;
}
/* main box */
.quire-citation .quire-citation__content.quire-thing__content {
  padding: 0;
  border: 2px solid var(--gray);
  box-shadow: none;
  background-color: var(--beige);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.625;
  width: 21rem;
}
/* each individual section */
.quire-thing__content > span:not(.quire-thing__main) {
  border-top: 1px solid var(--gray);
  display: block;
  width: 100%;
  padding: 1em;
}
/* main section */
.quire-thing__content > span.quire-thing__main {
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--beige);
}
.quire-thing__main__title {
  font-size: 1.25rem;
  display: inline-block;
}
.quire-thing__main__icon {
  float: right;
}
.quire-thing__main__icon svg {
  fill: var(--beige);
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}
a:hover .quire-thing__main__icon svg {
  fill: var(--black);
}
.quire-page__content .content .quire-thing__main a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url) {
  display: block;
  line-height: inherit;
  padding: 1em;
  font-size: 1rem;
  color: inherit;
  width: 100%;
  border-bottom-width: 0px;
}
.quire-page__content .content .quire-thing__main a:not(.q-figure__modal-link):not(.q-figure__reset-link):not(.quire-contributor__url):hover {
  color: var(--black) !important;
  border-bottom-width: 0px !important;
}

/* elements */
.quire-thing__heading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .875em;
  display: block;
}
.quire-thing__content span[role="listitem"] {
  display: block;
}
.quire-thing__link {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  border-bottom-width: 0px !important;
  font-size: 1rem !important;
  line-height: inherit !important;
}
.quire-thing__link svg {
  height: 1rem;
  width: 1rem;
}
.quire-thing__link:hover svg {
  fill: var(--accent-color);
}

