---
classes: 
  - quire-essay
layout: base.11ty.js
description: Thing layout. This layout is a copy of essay.liquid, except that it adds owners to the pageHeader and a .thing-info grid.
---

{% pageHeader
  byline_format=byline_format,
  image=image,
  label=label,
  pageContributors=pageContributors,
  owner=owner,
  subtitle=subtitle,
  title=title
%}

<section class="section quire-page__content thing-info">
  <div class="container">
    <div class="content">
      <div class='thing-info-grid'>
        <div class='thing-type'>
        {% if type %}
          <p>Type of Object</p>
          <ul>{% for i in type %}<li>{{ i }}</li>{% endfor %}</ul>
        {% endif %}
        </div>
        <div class='thing-theme'>
        {% if theme %}
          <p>Theme</p>
          <ul>{% for i in theme %}<li>{{ i }}</li>{% endfor %}</ul>
        {% endif %}
        </div>
        <div class='thing-material'>
        {% if material %}
          <p>Material</p>
          <ul>{% for i in material %}<li>{{ i }}</li>{% endfor %}</ul>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section quire-page__content">
  {% if abstract %}
    {% abstract abstract=abstract %}
  {% endif %}
  <div class="container">
    <div class="content">
      {{ content }}
      {% bibliography citations %}
    </div>
    {% pageButtons pagination=pagination %}
  </div>
</section>
